@model VistaNewProject.Models.Usuario
@{
  ViewData["Title"] = "Detalle";
}

<div>
  <br />
  <div>
    <a asp-action="Index" class="btn btn-primary btn-sm">
      <i class="fas fa-arrow-left"></i> Volver
    </a>
    <a href="#" onclick="redireccionarYEditar('@Model.UsuarioId', 'Usuarios','usuario')" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Editar</a>
  </div>
  <hr />

  <div class="pedido-info">
    <h2 style="text-align:center;">Información del Usuario</h2>
    <table class="table" style="margin: 0 auto; width: 60%;">
      <thead>
        <tr style="background-color: lightgray; text-align: center;">
          <th scope="col" style="white-space: nowrap;">Usuario ID</th>
          <th scope="col" style="white-space: nowrap;">Rol</th>
          <th scope="col" style="white-space: nowrap;">Nombre</th>
          <th scope="col" style="white-space: nowrap;">Apellido</th>
          <th scope="col" style="white-space: nowrap;">Nombre de Usuario</th>
          <th scope="col" style="display: none;">Contraseña</th>
          <th scope="col" style="white-space: nowrap;">Teléfono</th>
          <th scope="col" style="white-space: nowrap;">Correo</th>
          <th scope="col" style="white-space: nowrap;">Estado Usuario</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr style="background-color: white;">
          <td>@Html.DisplayFor(model => model.UsuarioId)</td>
          <td>
            @if (ViewBag.roles != null)
            {
              var roles = ViewBag.roles as IEnumerable<Rol>;
              if (roles != null)
              {
                var nombreRol = roles.FirstOrDefault(r => r.RolId == Model.RolId)?.NombreRol;
                <span>@nombreRol</span>
              }
              else
              {
                <span>No hay roles disponibles</span>
              }
            }
            else
            {
              <span>No se ha proporcionado ningún rol</span>
            }
          </td>
          <td>@Html.DisplayFor(model => model.Nombre)</td>
          <td>@Html.DisplayFor(model => model.Apellido)</td>
          <td>@Html.DisplayFor(model => model.Usuario1)</td>
          <td style="display: none;">@Html.DisplayFor(model => model.Contraseña)</td>
          <td>@Html.DisplayFor(model => model.Telefono)</td>
          <td>@Html.DisplayFor(model => model.Correo)</td>
          <td>
            @{
              string estado = Model.EstadoUsuario == 1 ? "Activo" : "Inactivo";
            }
            @estado
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script src="~/js/Detalle.js"></script>




