@model VistaNewProject.Models.Usuario
@{
  ViewData["Title"] = "Datos de Usuario";
}

<div>
  <br />
    <div>
        <a asp-action="Index" class="btn botonVolver">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
        <!-- Agrega esto en tu enlace de "Editar" en Details.cshtml -->
        <a href="#" onclick="redireccionarYEditar('@Model.UsuarioId', 'Usuarios','usuario')" class="btn botonEnviarDetalle"><i class="fa-solid fa-pen"></i> Editar</a>
    </div>

  <hr />

    <div class="pedido-info">
        <h2 style="text-align:center;">Información del Usuario</h2>
        <table class="table tablaDetalle">
            <thead>
                <tr>
                    <th scope="col">Usuario ID</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th class="noBe" scope="col">Contraseña</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Estado Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.UsuarioId)</td>
                    <td>
                        @if (ViewBag.roles != null)
                        {
                            var roles = ViewBag.roles as IEnumerable<Rol>;
                            if (roles != null)
                            {
                                var nombreRol = roles.FirstOrDefault(r => r.RolId == Model.RolId)?.NombreRol;
                                <span>@nombreRol</span>
                            }
                            else
                            {
                                <span>No hay roles disponibles</span>
                            }
                        }
                        else
                        {
                            <span>No se ha proporcionado ningún rol</span>
                        }

                    </td>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Apellido)</td>
                    <td>@Html.DisplayFor(model => model.Usuario1)</td>
                    <td class="noBe">@Html.DisplayFor(model => model.Contraseña)</td>
                    <td>@Html.DisplayFor(model => model.Telefono)</td>
                    <td>@Html.DisplayFor(model => model.Correo)</td>
                    <td>
                        @{
                            string estado = Model.EstadoUsuario == 1 ? "Activo" : "Inactivo";
                        }
                        @estado
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>




