@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                <!-- Botón para limpiar la búsqueda -->
                <button class="btn btn-danger" id="btnClearSearch" type="button"><i class="fas fa-times"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usuarioModal">
        <i class="fas fa-plus-circle"></i> Agregar Usuario
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="usuarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="AgregarUsuarios">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Usuario</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div id="MensajeInicial"></div>
            <form asp-controller="Usuarios" asp-action="Create" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="UsuarioId" name="usuarioId" class="form-control" />
                    </div>
                    <div class="form-group"> 
                           <label for="RolId" class="form-label">Rol</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <select id="RolId" name="rolId" class="form-select">
                            <option value="" selected disabled>Selecciona un rol</option>
                            @foreach (var rol in ViewBag.roles)
                            {
                                <option value="@rol.RolId">@rol.NombreRol</option>
                            }
                        </select>
                        <span id="RolId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Nombre" name="nombre" class="form-control" autocomplete="off" />
                        <span id="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Apellido" name="apellido" class="form-control" autocomplete="off" />
                        <span id="Apellido" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="Usuario" class="control-label">Usuario</label>
                        <span  style="color:red" class="Mensaje">*</span>
                        <input type="text" id="Usuario" name="usuario" class="form-control" autocomplete="off" />
                        <span id="Usuario" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="Contraseña" class="control-label">Contraseña</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="Contraseña" name="contraseña" class="form-control " autocomplete="off" />
                        <span id="MensajeContraseña" class="text-danger"></span>
                        <span id="MostrarOcultar1" class="icono-ojo" onclick="mostrarOcultarContrasena('Contraseña')">
                            @* <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                            Ojo
                        </span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="RepetirContraseña" class="control-label">Repetir Contraseña</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="RepetirContraseña" name="repetirContraseña" class="form-control" autocomplete="off" />
                        <span id="MensajeRepetirContraseña" class="text-danger"></span>
                        <span id="MostrarOcultar2" class="icono-ojo" onclick="mostrarOcultarContrasena('RepetirContraseña')">
                          @*   <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                          Ojo
                        </span>
                       
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Telefono" name="telefono" class="form-control" autocomplete="off" />
                         <span id="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Correo" name="correo" class="form-control" autocomplete="off" />
                        <span id="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="EstadoUser" style="display:none">
                        <label for="EstadoUsuario" class="control-label">Estado Cliente</label>
                        <select id="EstadoUsuario" name="estadoUsuario" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoUsuario" class="text-danger"></span>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnGuardar">Agregar</button>
                </div>



            </form>

        </div>

        <div class="modal-content" id="FormActualizarUsuarios" style="display:none;">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalUsuarios">Actualizar Usuarios</h5>
                <button type="button" class="btn-close" onclick="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="MensajeInicialUsuario"></div>
            <form asp-controller="Usuarios" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input id="UsuarioIdAct" name="usuarioIdAct" class="form-control" type="hidden" />
                    </div>


                    <div class="form-group">
                        <label for="RolId" class="form-label">Rol</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <select id="RolIdAct" name="rolIdAct" class="form-select">
                            <option value="" selected disabled>Selecciona un rol</option>
                            @foreach (var rol in ViewBag.roles)
                            {
                                <option value="@rol.RolId">@rol.NombreRol</option>
                            }
                        </select>
                        <span id="RolId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="NombreAct" class="control-label">Nombre</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="NombreAct" name="nombreAct" class="form-control" autocomplete="off" />
                        <span id="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ApellidoAct" class="control-label">Apellido</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="ApellidoAct" name="apellidoAct" class="form-control" autocomplete="off" />
                        <span id="MensajeApellidoAct" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="UsuarioAct" class="control-label">Usuario</label>
                        <span style="color:red" class="Mensaje">*</span>
                        <input type="text" id="UsuarioAct" name="usuarioAct" class="form-control" autocomplete="off" />
                        <span id="MensajeUsuarioAct" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="ContraseñaAct" class="control-label">Contraseña</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="ContraseñaAct" name="contraseñaAct" class="form-control " autocomplete="off" />
                        <span id="MensajeContraseñaAct" class="text-danger"></span>
                        <span id="MostrarOcultar1" class="icono-ojo" onclick="mostrarOcultarContrasena('Contraseña')">
                            @* <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                            Ojo
                        </span>



                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="RepetirContraseña" class="control-label">Repetir Contraseña</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="RepetirContraseñaAct" name="repetirContraseñaAct" class="form-control" autocomplete="off" />
                        <span id="MensajeRepetirContraseñaAct" class="text-danger"></span>
                        <span id="MostrarOcultar2" class="icono-ojo" onclick="mostrarOcultarContrasena('RepetirContraseña')">
                            @*   <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                            Ojo
                        </span>

                    </div>
                    <div class="form-group">
                        <label for="TelefonoAct" class="control-label">Teléfono</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="TelefonoAct" name="telefonoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeTelefonoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="CorreoAct" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="CorreoAct" name="correoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCorreoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="EstadoUsuarioAct" class="control-label">Estado Usuario</label>
                        <select id="EstadoUsuarioAct" name="estadoUsuarioAct" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoUsuarioAct" class="text-danger"></span>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnEditarUnidad">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                ROL
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                TELEFONO
            </th>
            <th>
                CORREO
            </th>
            <th>
                ESTADO USUARIO
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @contador <!-- Muestra el valor del contador -->
                    @{
                        contador++; // Incrementa el contador para la próxima iteración
                    }
                </td>
                <td class="rol-id">
                    @foreach (var rol in ViewBag.Roles)
                    {
                        @if (rol.RolId == item.RolId) // Verifica si el ID del rol coincide con el ID del rol del usuario
                        {
                            <span>@rol.NombreRol</span> <!-- Muestra el nombre del rol si coincide -->
                        }
                    }
                </td>
                <td class="usuario-id" style="display: none;">@Html.DisplayFor(modelItem => item.UsuarioId)</td>
                <td class="nombre">@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td class="apellido">@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td class="telefono">@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td class="correo">@Html.DisplayFor(modelItem => item.Correo)</td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoUsuario != 0 ? "checked" : "") onchange="actualizarEstadoUsuario('@item.UsuarioId ',this.checked) ">
                        <span class="slider"></span>
                    </label>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
             
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn" id="btnEdit" data-usuario-id="@item.UsuarioId" data-bs-toggle="modal" data-bs-target="#usuarioModal"><i class="fas fa-edit"></i></button>
                    <a asp-action="Details" asp-route-id="@item.UsuarioId" class="btn" id="btnDetail"><i class="fas fa-file"></i></a>
                    <form style="display:inline-block;" asp-controller="Usuarios" asp-action="Delete" method="post" class="delete-form">
                        @Html.Hidden("id", item.UsuarioId)
                        <!-- Agrega el atributo onclick para llamar a la función confirmarEliminacion() -->
                        <button type="button" onclick="confirmarEliminacion()" id="btnDelete" value="" class="btn btn-danger delete-button botonEliminar"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation" class="shadow p-3 mb-5 bg-white rounded">
                <ul class="pagination justify-content-center">
                    <!-- Botón para ir a la primera página -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">Primero</span>
                            </a>
                        </li>
                    }
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </li>
                    <!-- Botón para ir a la última página -->
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Último</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

<script src="~/js/usuarios.js"></script>


@if (!string.IsNullOrEmpty(TempData["Mensaje"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>


    <script>
        // Mostrar SweetAlert cuando haya un mensaje en TempData["Mensaje"]
        Swal.fire({
            position: "center",
            icon: "success",
            title: "Se ha registrado la unidad exitosamente",
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            // Después de cerrar el SweetAlert, abrimos el modal nuevamente
            $('#usuarioModal').modal('show');
        });
    </script>
}


@if (TempData["SweetAlertMessage"] != null)
{
    <script>
        Swal.fire({
            position: "center",
            icon: "@TempData["SweetAlertIcon"]",
            title: "@TempData["SweetAlertTitle"]",
            text: "@TempData["SweetAlertMessage"]",
            showConfirmButton: false, // Mostrar botón de confirmación
            timer: 3000
        })
    </script>
}

<script>


    // Función para mostrar el modal de confirmación antes de eliminar
    function confirmarEliminacion() {
        // Mostrar modal de confirmación
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, enviar el formulario de eliminación
                $(".delete-form").submit();
            }
        });
    }



</script>
