@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usuarioModal">
        Agregar Usuario
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="usuarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Usuario</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div id="MensajeInicial"></div>
            <form asp-controller="Usuarios" asp-action="" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="UsuarioId" name="usuarioId" class="form-control" />
                    </div>
                    <div class="form-group"> 
                           <label for="RolId" class="form-label">Rol</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <select id="RolId" name="rolId" class="form-select">
                            <option value="" selected disabled>Selecciona un rol</option>
                            @foreach (var rol in ViewBag.roles)
                            {
                                <option value="@rol.RolId">@rol.NombreRol</option>
                            }
                        </select>
                        <span id="RolId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Nombre" name="nombre" class="form-control" autocomplete="off" />
                        <span id="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Apellido" name="apellido" class="form-control" autocomplete="off" />
                        <span id="Apellido" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="Usuario" class="control-label">Usuario</label>
                        <span  style="color:red" class="Mensaje">*</span>
                        <input type="text" id="Usuario" name="usuario" class="form-control" autocomplete="off" />
                        <span id="Usuario" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="Contraseña" class="control-label">Contraseña</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="Contraseña" name="contraseña" class="form-control " autocomplete="off" />
                        <span id="MensajeContraseña" class="text-danger"></span>
                        <span id="MostrarOcultar1" class="icono-ojo" onclick="mostrarOcultarContrasena('Contraseña')">
                            @* <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                            Ojo
                        </span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="RepetirContraseña" class="control-label">Repetir Contraseña</label><span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="password" id="RepetirContraseña" name="repetirContraseña" class="form-control" autocomplete="off" />
                        <span id="MensajeRepetirContraseña" class="text-danger"></span>
                        <span id="MostrarOcultar2" class="icono-ojo" onclick="mostrarOcultarContrasena('RepetirContraseña')">
                          @*   <img src="ruta/para/el/ícono-de-ojo.svg" alt="Mostrar/Ocultar Contraseña" width="20" height="20"> *@
                          Ojo
                        </span>
                       
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Telefono" name="telefono" class="form-control" autocomplete="off" />
                         <span id="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="Correo" name="correo" class="form-control" autocomplete="off" />
                        <span id="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="EstadoUser" style="display:none">
                        <label for="EstadoUsuario" class="control-label">Estado Cliente</label>
                        <select id="EstadoUsuario" name="estadoUsuario" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoUsuario" class="text-danger"></span>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Usuario</button>
                </div>



            </form>

        </div>
    </div>
</div>

<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                ROL
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                TELEFONO
            </th>
            <th>
                CORREO
            </th>
            <th>
                ESTADO USUARIO
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @contador <!-- Muestra el valor del contador -->
                    @{
                        contador++; // Incrementa el contador para la próxima iteración
                    }
                </td>
                <td>
                    @foreach (var rol in ViewBag.Roles)
                    {
                        @if (rol.RolId == item.RolId) // Verifica si el ID del rol coincide con el ID del rol del usuario
                        {
                            <span>@rol.NombreRol</span> <!-- Muestra el nombre del rol si coincide -->
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoUsuario != 0 ? "checked" : "") onchange="mostraralerta('@item.UsuarioId')">
                        <span class="slider"></span>
                    </label>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn" id="btnEdit" data-usuario-id="@item.UsuarioId" data-bs-toggle="modal" data-bs-target="#usuarioModal"><i class="fas fa-edit"></i></button>
                    <a asp-action="Details" asp-route-id="@item.UsuarioId" class="btn" id="btnDetail"><i class="fas fa-file"></i></a>
                    <button class="btn" id="btnDelete" data-usuario-id="@item.UsuarioId"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }

</div>

<script src="~/js/usuarios.js"></script>
