@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}
<style>
    /* Estilos para el formulario */

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
    }

        .styled-form .form-row .col {
            flex: 1; /* Distribuir columnas uniformemente */
            margin-right: 10px; /* Espacio entre columnas */
        }

    .disabled {
        pointer-events: none;
        background-color: #f5f5f5;
    }

    input{
        border-radius:50px;
    }
  
    .styled-form .form-control {
    border-radius: 50px; /* Establecer bordes redondeados */
}

.styled-form .form-row {
    display: flex; /* Utilizar Flexbox para distribuir elementos */
}

.styled-form .form-row .col {
    flex: 1; /* Distribuir columnas uniformemente */
    margin-right: 10px; /* Espacio entre columnas */
}

.styled-form .modal-footer {
    justify-content: space-between; /* Alinear los botones en la parte inferior */
}

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas si es necesario */
    }

        .styled-form .form-row .col {
            flex: 1 1 30%; /* Distribuir columnas uniformemente y permitir que se reduzcan */
            margin-right: 10px; /* Espacio entre columnas */
        }

 

</style>


<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar" aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" style=" " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal">
        Agregar pedido <i class="fa-solid fa-cart-shopping"></i>
    </button>
</div>

<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <!-- Agrega la clase modal-lg para hacer el modal más ancho -->
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              

                <div style="display:table-row">
                    <!-- Primer formulario -->
                    <form id="formPedido" class="styled-form" asp-controller="Pedidos" asp-action="Create" method="post">
                        <div class="form-row">
                            <div class="mb-3 col">
                                <label for="ClienteId1" class="form-label">Cliente</label>
                                <!-- Input con el datalist -->
                                <input list="clientesList" id="ClienteId1" name="ClienteId" class="form-control">
                                <!-- Datalist con opciones de clientes -->
                                <datalist id="clientesList">
                                    @foreach (var cliente in ViewBag.Clientes)
                                    {
                                        <option value="@cliente.ClienteId">cliente.NombreEmpresa</option>
                                    }
                                </datalist>
                            </div>

                            <div class="mb-3 col">
                                <label for="TipoServicio1" class="form-label">Tipo de Servicio</label>
                                <select id="TipoServicio1" name="TipoServicio" class="form-select">
                                    <option value="Caja">Caja</option>
                                    <option value="Domicilio">Domicilio</option>
                                </select>
                            </div>
                            <div class="mb-3 col">
                                <label for="FechaPedido1" class="form-label">Fecha Pedido</label>
                                <input type="datetime-local" id="FechaPedido1" name="FechaPedido" class="form-control" disabled />
                            </div>
                            <div class="mb-3 col">
                                <label for="EstadoPedido1" class="form-label">Estado Pedido</label>
                                <select id="EstadoPedido1" name="EstadoPedido" class="form-select" disabled>
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Realizado">Realizado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                            </div>
                        </div>
                      
                    </form>
                </div>


                <div  id="detallecontainer">
                    <form id="formDetallePedido" asp-controller="DetallePedidos" asp-action="Create" method="post" class="styled-form">
                        <div class="form-row">
                            <div class="mb-3 col">
                                <label for="productoList" class="form-label">Producto</label>

                                <input list="productoList" id="ProductoId2" name="productoId2" class="form-control">
                                <!-- Datalist con opciones de clientes -->
                                <datalist id="productoList">
                                    @foreach (var producto in ViewBag.Productos)
                                    {
                                        <option value="@producto.ProductoId">@producto.NombreProducto</option>
                                    }
                                </datalist>
                            </div>

                            <div class="mb-3 col">
                                <label for="unidadList" class="form-label">Unidad</label>

                                <input list="unidadList" id="UnidadId" name="unidadid" class="form-control">

                                <!-- Datalist con opciones de clientes -->
                                <datalist id="unidadList">
                                    @foreach (var unidad in ViewBag.Unidad)
                                    {
                                        <option value="@unidad.UnidadId">@unidad.NombreUnidad</option>
                                    }
                                </datalist>
                            </div>

                            <div class="mb-3 col">
                                <label for="Cantidad2" class="form-label">Cantidad</label>
                                <input type="number" id="Cantidad2" name="Cantidad" class="form-control" />
                            </div>
                            <div class="mb-3 col">
                                <label for="PrecioUnitario2" class="form-label">Precio Unitario</label>
                                <input type="number" id="PrecioUnitario2" name="PrecioUnitario" class="form-control" />
                            </div>
                            <div class="mb-3 col align-self-end">
                                <div class=" ">
                                    <button type="button" id="btnAgregardetalle" class="btn btn-success"><i class="fa-solid fa-cart-plus"></i> Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

             
                <div class=" d-none" style="display:table-row" id="formDomicilioContainer">
                    <div class="col-md-8" style=" margin-left:60px">
                        <div class="modal-footer mb-8">
                            <button type="button" id="btnAgregarDomicilio" class="btn btn-warning"> <i class="fa-solid fa-user-plus"></i></button>
                            <button type="button" class="btn btn-secondary" id="cerradomicilio"> Cerrar</button>
                        </div>
                    </div>
                    <!-- Tercer formulario (Domicilio) -->
                    <form id="formDomicilio" asp-controller="Domicilios" asp-action="Create" method="post" class="styled-form">
                        <!-- Primera fila del formulario -->
                        <div class="form-row">
                            <div class="mb-3 col">
                                <label for="UsuariloList" class="form-label">Usuario</label>

                                <input list="UsuariloList" id="UsuarioId" name="usuarioId" class="form-control">

                                <!-- Datalist con opciones de clientes -->
                                <datalist id="UsuariloList">
                                    @foreach (var usuario in ViewBag.Usuario)
                                    {
                                        <option value="@usuario.UsuarioId">@usuario.Nombre</option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-md-4" style="margin-right: 10px; border-radius: 30px;">
                                <div class="mb-6">
                                    <label for="FechaEntrega3" class="form-label">Fecha Entrega</label>
                                    <input type="datetime-local" id="FechaEntrega3" name="sechaEntrega" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-right: 10px; border-radius: 50px;">
                                <div class="md-3">
                                    <label for="Observacion3" class="form-label">Observacion</label>
                                    <input type="text" id="Observacion3" name="Observacion" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-right: 10px; border-radius: 50px;">
                                <div class="mb-3">
                                    <label for="DireccionDomiciliario3" class="form-label">Direccion Domiciliario</label>
                                    <input type="text" id="DireccionDomiciliario3" name="DireccionDomiciliario" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- Segunda fila del formulario -->
                     
                          
                    </form>
                </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnGuardarPedido" type="submit" class="btn btn-primary">Guardar Pedido <i class="fa-solid fa-file-arrow-up"></i></button>
            </div>
                <!-- Fin del contenido del modal -->

                <div id="">

                    <table id="detalleTable" class="table table-custom text-center">
                    <thead>
                        <tr>
                             <th>Producto</th>
                                <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="detalleTableBody">
                        <!-- Aquí se mostrarán los detalles agregados dinámicamente -->
                    </tbody>
                </table>
            </div>

                <div id="domiciliotable" class="d-none">
                    <!-- Agregar el elemento "detalleTableBody" aquí -->
                    <table id="detalleTable" class="table table-custom text-center ">
                        <thead>
                            <tr>
                                <th>Usuario </th>
                                <th>FechaEntrega3</th>
                                <th>Observacion</th>
                                <th>Direccion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="domicilioTableBody">
                            <!-- Aquí se mostrarán los detalles agregados dinámicamente -->
                        </tbody>
                    </table>
                </div>
            </div>
        
        </div>
    </div>
   </div>





<table class="table table-custom text-center mt-4">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                CLIENTE
            </th>
            <th>
                TIPO DE SERVICIO
            </th>
            <th>
                FECHA DE PEDIDO
            </th>
            <th>
                ESTADO DE PEDIDO
            </th>
           
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            int contador = 1; // Inicializa el contador en 1
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @contador <!-- Muestra el valor del contador -->
                    @{
                        contador++; // Incrementa el contador para la próxima iteración
                    }
                </td>
                <td>
                    @foreach (var clientes in ViewBag.Clientes)
                    {
                        @if (clientes.ClienteId == item.ClienteId) // Verifica si el ID del rol coincide con el ID del rol del usuario
                        {
                            <span>@clientes.Identificacion</span> <!-- Muestra el nombre del rol si coincide -->
                        }
                    }
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.TipoServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>

               
             
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn" id="btnEdit" data-cliente-id="@item.PedidoId" data-bs-toggle="modal" data-bs-target="#clienteModal"><i class="fas fa-edit"></i></button>
                    <a asp-action="Details" asp-route-id="@item.PedidoId" class="btn" id="btnDetail"><i class="fa-solid fa-file"></i></a>
                    <button class="btn" id="btnDelete" data-cliente-id="@item.PedidoId"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }

</div>

<script src="~/js/pedidos.js"></script>

<script>
    // Función para actualizar la tabla de detalles del pedido
   
    // Aquí va el resto de tu código JavaScript...

</script>