@model IEnumerable<VistaNewProject.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PedidoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoServicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotalPedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoPedido)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PedidoId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PedidoId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PedidoId })
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="6">¡El objeto Pedido es nulo!</td>
                </tr>
            }
        }
    </tbody>
</table>
