@model IEnumerable<VistaNewProject.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}
<style>
    /* Estilos para el formulario */

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
    }

        .styled-form .form-row .col {
            flex: 1; /* Distribuir columnas uniformemente */
            margin-right: 10px; /* Espacio entre columnas */
        }




  
    .styled-form .form-control {
    border-radius: 50px; /* Establecer bordes redondeados */
}

.styled-form .form-row {
    display: flex; /* Utilizar Flexbox para distribuir elementos */
}

.styled-form .form-row .col {
    flex: 1; /* Distribuir columnas uniformemente */
    margin-right: 10px; /* Espacio entre columnas */
}

.styled-form .modal-footer {
    justify-content: space-between; /* Alinear los botones en la parte inferior */
}

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas si es necesario */
    }

        .styled-form .form-row .col {
            flex: 1 1 30%; /* Distribuir columnas uniformemente y permitir que se reduzcan */
            margin-right: 10px; /* Espacio entre columnas */
        }


</style>

<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal">
    Agregar pedido
</button>
<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Agrega la clase modal-lg para hacer el modal más ancho -->
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Agregar el elemento "detalleTableBody" aquí -->
                <table id="detalleTable" class="table">
                    <thead>
                        <tr>
                            <th>Producto ID</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="detalleTableBody">
                        <!-- Aquí se mostrarán los detalles agregados dinámicamente -->
                    </tbody>
                </table>
                <!-- Fin del elemento "detalleTableBody" -->

                <div style="display: flex; justify-content: space-between; margin: 0; width: 100%" class="d-none" id="detallecontainer">
                    <form id="formDetallePedido" asp-controller="DetallePedidos" asp-action="Create" method="post" class="styled-form">
                        <div class="form-row">
                            <div class="mb-3 col">
                                <label for="ProductoId2" class="form-label">Producto ID</label>
                                <input type="number" id="ProductoId2" name="ProductoId" class="form-control" />
                            </div>
                            <div class="mb-3 col">
                                <label for="Cantidad2" class="form-label">Cantidad</label>
                                <input type="number" id="Cantidad2" name="Cantidad" class="form-control" />
                            </div>
                            <div class="mb-3 col">
                                <label for="PrecioUnitario2" class="form-label">Precio Unitario</label>
                                <input type="number" id="PrecioUnitario2" name="PrecioUnitario" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Agregar Detalle</button>
                            <button type="button" class="btn btn-secondary" id="cerrardetalle" class="btn btn-primary"> Cerrar</button>
                        </div>
                    </form>
                </div>

                <div style="display:table-row">
                    <!-- Primer formulario -->
                    <form id="formPedido" class="styled-form" asp-controller="Pedidos" asp-action="Create" method="post">
                        <div class="form-row">
                            <div class="mb-3 col">
                                <label for="ClienteId1" class="form-label">Cliente</label>
                                <select id="ClienteId1" name="ClienteId" class="form-select">
                                    @foreach (var cliente in ViewBag.Clientes)
                                    {
                                        <option value="@cliente.ClienteId">@cliente.Identificacion</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col">
                                <label for="TipoServicio1" class="form-label">Tipo de Servicio</label>
                                <select id="TipoServicio1" name="TipoServicio" class="form-select">
                                    <option value="Caja">Caja</option>
                                    <option value="Domicilio">Domicilio</option>
                                </select>
                            </div>
                            <div class="mb-3 col">
                                <label for="FechaPedido1" class="form-label">Fecha Pedido</label>
                                <input type="datetime-local" id="FechaPedido1" name="FechaPedido" class="form-control" />
                            </div>
                            <div class="mb-3 col">
                                <label for="EstadoPedido1" class="form-label">Estado Pedido</label>
                                <select id="EstadoPedido1" name="EstadoPedido" class="form-select">
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Realizado">Realizado</option>
                                    <option value="Cancelado">Cancelado</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" id="asignardetalle" class="btn btn-primary">Asignar Detalle</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 mb-8 d-none" id="formDomicilioContainer">
                    <!-- Tercer formulario (Domicilio) -->
                    <form id="formDomicilio" asp-controller="Domicilios" asp-action="Create" method="post" class="styled-form">
                        <!-- Primera fila del formulario -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-6">
                                    <label for="UsuarioId3" class="form-label">Usuario ID</label>
                                    <input type="number" id="UsuarioId3" name="UsuarioId" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-6">
                                    <label for="FechaEntrega3" class="form-label">Fecha Entrega</label>
                                    <input type="datetime-local" id="FechaEntrega3" name="FechaEntrega" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-3">
                                    <label for="Observacion3" class="form-label">Observacion</label>
                                    <input type="text" id="Observacion3" name="Observacion" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- Segunda fila del formulario -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="DireccionDomiciliario3" class="form-label">Direccion Domiciliario</label>
                                    <input type="text" id="DireccionDomiciliario3" name="DireccionDomiciliario" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-8">
                            
                              
                            </div>
                            <div class="modal-footer mb-8">
                                <button type="submit" class="btn btn-primary">Agregar Domicilio</button>
                                <button type="button" class="btn btn-secondary" id="cerradomicilio"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Fin del contenido del modal -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnGuardarPedido" type="submit" class="btn btn-primary">Guardar Pedido</button>
            </div>
        </div>
    </div>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/pedidos.js"></script>

<script>
    // Función para actualizar la tabla de detalles del pedido
   
    // Aquí va el resto de tu código JavaScript...

</script>