@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Pedido>
<meta charset="UTF-8">

@{
    ViewData["Title"] = "Index";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
    var validationMessage = TempData["ValidarPedido"] as string;
}

@if (!string.IsNullOrEmpty(validationMessage))
{
    <script>
        $(document).ready(function () {
            // Mostrar SweetAlert con el mensaje TempData
            Swal.fire({
                title: '¡Pedido creado!',
                text: '@validationMessage',
                icon: 'success',
                showConfirmButton: false, // Mostrar botón de confirmación
                timer: 3000
            });
        });
    </script>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        $(document).ready(function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@successMessage',
                icon: 'success',
                showConfirmButton: false,
                timer: 3000
            });
        });
    </script>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        $(document).ready(function () {
            Swal.fire({
                title: '¡Error!',
                text: '@errorMessage',
                icon: 'error',
                showConfirmButton: true
            });
        });
    </script>
}


<style>
    /* Estilos para el formulario */

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
    }

        .styled-form .form-row .col {
            flex: 1; /* Distribuir columnas uniformemente */
            margin-right: 10px; /* Espacio entre columnas */
        }

    .disabled {
        pointer-events: none;
        background-color: #f5f5f5;
    }

    input{
        border-radius:50px;
    }
  
    .styled-form .form-control {
    border-radius: 50px; /* Establecer bordes redondeados */
}

.styled-form .form-row {
    display: flex; /* Utilizar Flexbox para distribuir elementos */
}

.styled-form .form-row .col {
    flex: 1; /* Distribuir columnas uniformemente */
    margin-right: 10px; /* Espacio entre columnas */
}

.styled-form .modal-footer {
    justify-content: space-between; /* Alinear los botones en la parte inferior */
}

    .styled-form .form-control {
        border-radius: 50px; /* Establecer bordes redondeados */
    }

    .styled-form .form-row {
        display: flex; /* Utilizar Flexbox para distribuir elementos */
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas si es necesario */
    }

        .styled-form .form-row .col {
            flex: 1 1 30%; /* Distribuir columnas uniformemente y permitir que se reduzcan */
            margin-right: 10px; /* Espacio entre columnas */
        }




   
    .btn-primary-custom {
        color: white;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s;
    }

    .btn-primary-custom:hover {
            background-color: #0CB9B6;
        color: black;
    }


</style>

<br />
<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
            <div class="input-group">
                <input id="buscarPedidos" type="text" class="form-control" oninput="searchPedidos();" placeholder="Buscar Pedidos" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-primary" id="btnNavbarSearch" onclick="vaciarInputPedidos()" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
   






    <a asp-action="Create" class="btn btn-primary">
        Agregar pedido <i class="fa-solid fa-cart-shopping"></i>
    </a>


</div>




<div>
    <a asp-action="PedidosCancelados" class="btn btn-primary-custom btn btn-primary">
        Cancelados <i class="fa-solid fa-ban"></i>
    </a>
</div>

<table class="table table-custom text-center mt-4">
    <!-- Cabecera de la tabla -->
    <thead>
        <tr>
            <th>#</th>
            <th class="d-none">PedidoId</th>
            <th>CLIENTE</th>
            <th>TIPO DE SERVICIO</th>
            <th>FECHA DE PEDIDO</th>
            <th>ESTADO DE PEDIDO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <!-- Iteración sobre los pedidos -->
        @{
            var contador = 1; // Inicialización de la variable contador
        }

        @foreach (var item in Model)
        {
            <tr class="pedidosPaginado">
                <td>@contador</td>
                <td class="d-none">@Html.DisplayFor(modelItem => item.PedidoId)</td>

                <td>
                    @foreach (var clientes in ViewBag.Clientes)
                    {
                        @if (clientes.ClienteId == item.ClienteId)
                        {
                            <span>@clientes.Identificacion</span>
                        }
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.TipoServicio)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaPedido)</td>
                <td class="text-center align-middle contenedorEstadoTabla">
                    @if (item.EstadoPedido == "Pendiente")
                    {
                        <label class="switch">
                            <input type="radio" name="estado_@item.PedidoId" value="Realizado" onchange="actualizarEstadoPedido('@item.PedidoId', this.value)">
                            <span class="slider" style="background-color: #00215E;"></span>
                        </label>
                    }
                    else if (item.EstadoPedido == "Realizado")
                    {
                        <label class="switch">
                            <input type="radio" name="estado_@item.PedidoId" value="Cancelado" onchange="actualizarEstadoPedido('@item.PedidoId', this.value)">
                            <span class="slider" style="background-color: #16DB25;"></span>
                        </label>
                    }
                </td>
                <td class="d-flex align-items-center justify-content-between">
                    <a asp-action="Details" asp-route-id="@item.PedidoId" class="btn botonDetalle"><i class="fa-solid fa-file"></i></a>
                    @if (item.EstadoPedido == "Pendiente")
                    {
                        <input type="checkbox" style="margin-right:20px" name="estado_@item.PedidoId" value="Anulado" onclick="actualizarEstadoPedido('@item.PedidoId', this.value)" />
                    }
                </td>
            </tr>
            contador++; // Incrementar el contador después de cada fila
        }
    </tbody>

</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Botones de navegación -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">Primero</span>
                            </a>
                        </li>
                    }
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <!-- Números de página -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </li>
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Último</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

<script src="~/js/pedidos.js"></script>