@model IEnumerable<VistaNewProject.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                <!-- Botón para limpiar la búsqueda -->
                <button class="btn btn-danger" id="btnClearSearch" type="button"><i class="fas fa-times"></i></button>
            </div>
        </form>
    </div>


    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal">
        <i class="fas fa-plus-circle"></i>  Agregar Cliente
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="agregarDetalleCliente">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Cliente</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form asp-controller="Clientes" asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="ClienteId" name="clienteId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Identificacion" class="control-label">Identificacion</label>
                        <input type="text" id="Identificacion" name="identificacion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreEntidad" class="control-label">Nombre Entidad</label>
                        <input type="text" id="NombreEntidad" name="nombreEntidad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreCompleto" class="control-label">Nombre Completo</label>
                        <input type="text" id="NombreCompleto" name="nombreCompleto" class="form-control" />
                    </div>
                  


                    <div class="form-group">
                        <label for="TipoCliente" class="control-label">Tipo Cliente </label>
                        <select id="TipoCliente" name="tipoCliente" class="form-control">
                            <option value="Natural">Natural</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                        <span id="MensajeTipoCliente" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <input type="text" id="Telefono" name="telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input type="text" id="Correo" name="correo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Direccion" class="control-label">Direccion</label>
                        <input type="text" id="Direccion" name="direccion" class="form-control" />
                    </div>
                    <div class="form-group" id="EstadoCliente" style="display:none">
                        <label for="EstadoCliente" class="control-label">Estado Cliente</label>
                        <select id="EstadoCliente" name="estadoCliente" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoCliente" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary" id="btnGuardar">Agregar</button>
                </div>



            </form>

        </div>



        <div class="modal-content" id="FormActualizarCliente" style="display:none;">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalUsuarios">Actualizar Usuarios</h5>
                <button type="button" class="btn-close" onclick="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="MensajeInicialUsuario"></div>
            <form asp-controller="Clientes" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input id="ClienteIdAct" name="clienteIdAct" class="form-control" type="hidden" />
                    </div>



                    <div class="form-group">
                        <label for="IdentificacionAct" class="control-label">Identificacion</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="IdentificacionAct" name="identificacionAct" class="form-control" autocomplete="off" />
                        <span id="IdentificacionAct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="NombreEntidadAct" class="control-label">Nombre Entidad</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="NombreEntidadAct" name="nombreEntidadAct" class="form-control" autocomplete="off" />
                        <span id="MensajeIdentificacionAct" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="NombreCompletoAct" class="control-label">NombreCompleto</label>
                        <span style="color:red" class="Mensaje">* </span>
                        <input type="text" id="NombreCompletoAct" name="nombreCompletoAct" class="form-control" autocomplete="off" />
                        <span id="MensajeNombreCompletoAct" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="TipoClienteAct" class="control-label">Tipo Cliente </label>
                        <select id="TipoClienteAct" name="tipoClienteAct" class="form-control">
                            <option value="Natural">Natural</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                        <span id="MensajeTipoCliente" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label for="TelefonoAct" class="control-label">Teléfono</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="TelefonoAct" name="telefonoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeTelefonoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="CorreoAct" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="CorreoAct" name="correoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCorreoAct"></span>
                    </div>


                    <div class="form-group">
                        <label for="DireccionAct" class="control-label">Direccion</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="DireccionAct" name="direccionAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCorreoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="EstadoUsuarioAct" class="control-label">Estado Usuario</label>
                        <select id="EstadoClienteAct" name="estadoClienetAct" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoClienteAct" class="text-danger"></span>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary" id="btnEditarUnidad">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
                <td class="text-center align-middle contenedorEstadoTabla">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoCliente != 0 ? "checked" : "") onchange="actualizarEstadoCliente('@item.ClienteId', this.checked)">
                        <span class="slider"></span>
                    </label>
                </td>
            <td>
                <td class="contenedorBotonesTabla">
                    <button class="btn botonEditarCategoria" id="btnEdit" data-cliente-id="@item.ClienteId" data-bs-toggle="modal" data-bs-target="#clienteModal"><i class="fas fa-edit"></i></button>
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn botonDetalle" id="btnDetail"><i class="fas fa-file"></i></a>
                    <form style="display:inline-block;" asp-controller="Marcas" asp-action="Delete" method="post" class="delete-form">
                            @Html.Hidden("id", item.ClienteId)
                        <button type="submit" id="btnDelete" value="" class="btn btn-danger delete-button botonEliminar"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>


@if (!string.IsNullOrEmpty(TempData["Mensaje"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>


    <script>
        // Mostrar SweetAlert cuando haya un mensaje en TempData["Mensaje"]
        Swal.fire({
            position: "center",
            icon: "success",
            title: "Se ha registrado la marca exitosamente",
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            // Después de cerrar el SweetAlert, abrimos el modal nuevamente
            $('#clienteModal').modal('show');
        });
    </script>
}

@if (TempData["SweetAlertMessage"] != null)
{
    <script>
        Swal.fire({
            position: "center",
            icon: "@TempData["SweetAlertIcon"]",
            title: "@TempData["SweetAlertTitle"]",
            text: "@TempData["SweetAlertMessage"]",
            showConfirmButton: false, // Mostrar botón de confirmación
            timer: 3000
        }).then((result) => {
            if (result.isConfirmed) { // Si el usuario confirmó la acción
                window.location.href = "@Url.Action("Index", "Marcas")"; // Redireccionar a la página de índice de marcas
            }
        });
    </script>
}
<script src="~/js/clientes.js"></script>