@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Cliente>
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                <!-- Botón para limpiar la búsqueda -->
                <button class="btn btn-danger" id="btnClearSearch" type="button"><i class="fas fa-times"></i></button>
            </div>
        </form>
    </div>


    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal">
        <i class="fas fa-plus-circle"></i>  Agregar Cliente
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="agregarDetalleCliente">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Cliente</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form asp-controller="Clientes" asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="ClienteId" name="clienteId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Identificacion" class="control-label">Identificacion</label>
                        <input type="text" id="Identificacion" name="identificacion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreEntidad" class="control-label">Nombre Entidad</label>
                        <input type="text" id="NombreEntidad" name="nombreEntidad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreCompleto" class="control-label">Nombre Completo</label>
                        <input type="text" id="NombreCompleto" name="nombreCompleto" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="TipoCliente" class="control-label">Tipo Cliente</label>
                        <select id="TipoCliente " name=" tipoCliente" class="form-control">

                            <option value="Natural">Natural</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <input type="text" id="Telefono" name="telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input type="text" id="Correo" name="correo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Direccion" class="control-label">Direccion</label>
                        <input type="text" id="Direccion" name="direccion" class="form-control" />
                    </div>
                    <div class="form-group" id="EstadoCliente" style="display:none">
                        <label for="EstadoCliente" class="control-label">Estado Cliente</label>
                        <select id="EstadoCliente" name="estadoCliente" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoCliente" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" o class="btn btn-primary" id="btnGuardar">Agregar</button>
                </div>



            </form>

        </div>



        <div class="modal-content" id="FormActualizarCliente" style="display:none;">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalUsuarios">Actualizar Usuarios</h5>
                <button type="button" class="btn-close" onclick="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="MensajeInicialUsuario"></div>
            <form asp-controller="Clientes" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input id="ClienteIdAct" name="clienteIdAct" class="form-control" type="hidden" />
                    </div>


                  
                    <div class="form-group">
                        <label for="IdentificacionAct" class="control-label">Identificacion</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="IdentificacionAct" name="identificacionAct" class="form-control" autocomplete="off" />
                        <span id="IdentificacionAct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="NombreEntidadAct" class="control-label">Nombre Entidad</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="NombreEntidadAct" name="iombreEntidadAct" class="form-control" autocomplete="off" />
                        <span id="MensajeIdentificacionAct" class="text-danger"></span>
                    </div>
                    <div class="Novisible" style="display:block">
                        <label for="NombreCompletoAct" class="control-label">NombreCompleto</label>
                        <span style="color:red" class="Mensaje">*</span>
                        <input type="text" id="NombreCompletoAct" name="nombreCompletoAct" class="form-control" autocomplete="off" />
                        <span id="MensajeNombreCompletoAct" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <label for="TipoCliente" class="control-label">Tipo Cliente</label>
                        <select id="TipoClienteAct " name=" tipoClienteAct" class="form-control">

                            <option value="Natural">Natural</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                    </div>
                  
                    <div class="form-group">
                        <label for="TelefonoAct" class="control-label">Teléfono</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="TelefonoAct" name="telefonoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeTelefonoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="CorreoAct" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="CorreoAct" name="correoAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCorreoAct"></span>
                    </div>


                    <div class="form-group">
                        <label for="DireccionAct" class="control-label">Correo</label>
                        <span style="color:red;display:inline-block;" class="Mensaje">*</span>
                        <input type="text" id="DireccionAct" name="direccionAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCorreoAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="EstadoUsuarioAct" class="control-label">Estado Usuario</label>
                        <select id="EstadoClienteAct" name="estadoClienetAct" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span id="MensajeEstadoClienteAct" class="text-danger"></span>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnEditarUnidad">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                IDENTIFICACION
            </th>
            <th>
                NOMBRE EMPRESA
            </th>
            <th>
                NOMBRE COMPLETO
            </th>
            <th>
                TIPO CLIENTE
            </th>
            <th>
                TELEFONO
            </th>
            <th>
                CORREO
            </th>
            <th>
                DIRECCION
            </th>
            <th>
                ESTADO CLIENTE
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td class="cliente-id" style="display: none;">@Html.DisplayFor(modelItem => item.ClienteId)</td>
                <td class="identificacion">@Html.DisplayFor(modelItem => item.Identificacion)</td>
                <td class="nombre-entidad">@Html.DisplayFor(modelItem => item.NombreEntidad)</td>
                <td class="nombre-completo">@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                <td class="tipo-cliente">@Html.DisplayFor(modelItem => item.TipoCliente)</td>
                <td class="telefono">@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td class="correo">@Html.DisplayFor(modelItem => item.Correo)</td>
                <td class="correo">@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoCliente != 0 ? "checked" : "") onchange="actualizarEstadoCliente('@item.ClienteId',this.checked)">
                        <span class="slider"></span>
                    </label>
                    @Html.DisplayFor(modelItem => item.EstadoCliente)
                </td>
                <td>
                </td>

                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn btn-danger" onclick="eliminarCliente('@item.ClienteId')">Eliminar</button>
                    <button class="btn" id="btnEdit" data-cliente-id="@item.ClienteId" data-bs-toggle="modal" data-bs-target="#clienteModal"><i class="fas fa-edit"></i></button>

                </td>
            </tr>
        }
    </tbody>
</table>


<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation" class="shadow p-3 mb-5 bg-white rounded">
                <ul class="pagination justify-content-center">
                    <!-- Botón para ir a la primera página -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">Primero</span>
                            </a>
                        </li>
                    }
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </li>
                    <!-- Botón para ir a la última página -->
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Último</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>


<script src="~/js/clientes.js"></script>


@if (!string.IsNullOrEmpty(TempData["Mensaje"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>


    <script>
        // Mostrar SweetAlert cuando haya un mensaje en TempData["Mensaje"]
        Swal.fire({
            position: "center",
            icon: "success",
            title: "Se ha registrado el cliente exitosamente",
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            // Después de cerrar el SweetAlert, abrimos el modal nuevamente
            $('#clienteModal').modal('show');
        });
    </script>
}


@if (TempData["SweetAlertMessage"] != null)
{
    <script>
        Swal.fire({
            position: "center",
            icon: "@TempData["SweetAlertIcon"]",
            title: "@TempData["SweetAlertTitle"]",
            text: "@TempData["SweetAlertMessage"]",
            showConfirmButton: false, // Mostrar botón de confirmación
            timer: 3000
        })
    </script>
}

<script>


    // Función para mostrar el modal de confirmación antes de eliminar
    function confirmarEliminacion() {
        // Mostrar modal de confirmación
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, enviar el formulario de eliminación
                $(".delete-form").submit();
            }
        });
    }



</script>

