@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Marca>
@{
    ViewData["Title"] = "Index";
}


<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón "Agregar Marca" a la derecha -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MarcaModal">
        Agregar Marca
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="MarcaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Marca</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form asp-controller="Marcas" asp-action="" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="MarcaId" name="marcaId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreMarca" class="control-label">Nombre marca</label>
                        <input type="text" id="NombreMarca" name="nombreMarca" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" onclick="agregarMarca()" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" onclick="ActualizarMarca()" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Marca</button>
                </div>



            </form>

        </div>
    </div>
</div>

<br />
<hr>


<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                MARCA ID
            </th>
            <th>
                NOMBRE MARCA
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMarca)
                </td>
                <!-- Agrega esta celda para las acciones -->
                <td>
                    <button class="btn btn-info" onclick="obtenerDatosMarca('@item.MarcaId')" data-cliente-id="@item.MarcaId" data-bs-toggle="modal" data-bs-target="#MarcaModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarMarca('@item.MarcaId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>



<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/marcas.js"></script>