@model IEnumerable<VistaNewProject.Models.Marca>
@{
    ViewData["Title"] = "Index";
}

<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MarcaModal">
    Agregar Marca
</button>

<!-- Modal -->
<div class="modal fade" id="MarcaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Marca</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form asp-controller="Marcas" asp-action="" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="MarcaId" name="marcaId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreMarca" class="control-label">Nombre marca</label>
                        <input type="text" id="NombreMarca" name="nombreMarca" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" onclick="agregarMarca()" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" onclick="ActualizarMarca()" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Marca</button>
                </div>



            </form>

        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marca Id
            </th>
            <th>
                Nombre marca
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMarca)
                </td>
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn btn-warning" onclick="obtenerDatosMarca('@item.MarcaId')" data-cliente-id="@item.MarcaId" data-bs-toggle="modal" data-bs-target="#MarcaModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarMarca('@item.MarcaId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/marcas.js"></script>
