@model IEnumerable<VistaNewProject.Models.Marca>

@{
    ViewData["Title"] = "Index";
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal">
    Agregar Marca
</button>

<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marcas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="marcaForm" asp-controller="Marcas" asp-action="Create" method="post">
                <div class="modal-body">
                    <input type="hidden" id="MarcaId" name="MarcaId" class="form-control" />
                    <div class="form-group">
                        <label for="NombreMarca" class="control-label">Nombre Marca</label>
                        <input type="text" id="NombreMarca" name="NombreMarca" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button id="ActualizarMarca" type="button" class="btn btn-primary">Actualizar Marca</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MarcaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMarca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMarca)
                </td>
                <td>
                    <button class="btn btn-warning" onclick="obtenerDatosMarca(@item.MarcaId)" data-cliente-id="@item.MarcaId" data-bs-toggle="modal" data-bs-target="#clienteModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarMarca('@item.MarcaId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/marcas.js"></script>