@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<VistaNewProject.Models.Categoria>

@{
    ViewData["Title"] = "Categorias asociadas";
}

<br />
<div class="contenedor-botones-detalle">
    <a asp-action="Details" asp-route-id="@ViewBag.Unidad.UnidadId" class="btn botonVolver">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
    <a href="#" onclick="redireccionarYEditar('@ViewBag.Unidad.UnidadId', 'Unidades', 'unidad')" class="btn botonEnviarDetalle">
        <i class="fa-solid fa-pen"></i> Editar
    </a>
    <a asp-action="UnidadxCategoriasAsociadas" asp-controller="Unidades" asp-route-id="@ViewBag.Unidad.UnidadId" class="btn botonAsociar">
        Asociar categorías<i class="fa-solid fa-handshake-simple manoAsociasion"></i>
    </a>
</div>
<br />
@if (Model != null && Model.Any())
{
    <div class="pedido-info">
        <h4 class="TituloSobreTabladetalle">Categorías asociadas</h4>
        <table class="table tablaDetalle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Categoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Model)
                {
                    <tr>
                        <td>@categoria.CategoriaId</td>
                        <td>@categoria.NombreCategoria</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination-container mt-2">
        @if (Model != null && Model.PageCount > 1)
        {
            <div class="d-flex justify-content-center mb-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Botón para ir a la primera página -->
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Unidad.UnidadId, page = 1, order = ViewBag.CurrentOrder })" aria-label="First">
                                    <span aria-hidden="true">Primero</span>
                                </a>
                            </li>
                        }
                        <!-- Botón para la página anterior (oculto en la página 1) -->
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Unidad.UnidadId, page = Model.PageNumber - 1, order = ViewBag.CurrentOrder })" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </li>
                        <!-- Iterar sobre las páginas disponibles -->
                        @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Unidad.UnidadId, page = i, order = ViewBag.CurrentOrder })">@i</a>
                            </li>
                        }
                        <!-- Botón para la página siguiente (oculto en la última página) -->
                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Unidad.UnidadId, page = Model.PageNumber + 1, order = ViewBag.CurrentOrder })" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <!-- Botón para ir a la última página -->
                        @if (Model.PageNumber < Model.PageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Unidad.UnidadId, page = Model.PageCount, order = ViewBag.CurrentOrder })" aria-label="Last">
                                    <span aria-hidden="true">Último</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>

 
}
else
{
    <div class="MensajeNoDetalles">
        <p>No se encontraron categorías asociadas.</p>
    </div>
}


    