@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Unidad>
@{
    ViewData["Title"] = "Unidades";
}

<div class="ContenedorVista" id="ContenedorUnidad">
    <br />
    <div class="d-flex justify-content-between">
        <!-- Formulario de búsqueda a la izquierda -->
        <div class="mr-auto">
            <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
                <div class="input-group">
                    <input id="buscarUnidad" type="text" class="form-control" oninput="searchUnidad();" placeholder="Buscar unidad" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-primary" id="btnNavbarSearch" onclick="vaciarInputUnidad();" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>

        <!-- Botón para abrir el modal -->
        <button type="button" id="botonabrirModalUnidad" onclick="simularClickUnidad();" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalUnidad">
            <i class="fas fa-plus-circle"></i> Agregar unidad
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade GeneralModal" id="ModalUnidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="FormPrincipalUnidad">
                <div class="modal-cabecera">
                    <div id="pibo"></div>
                    <div class="modal-header-view TituloModal">
                        <h2 class="modal-title">Agregar unidad</h2>
                    </div>
                    <div class="modal-header-view" id="modal-cabecera-equis">
                        <button type="button" onclick="limpiarFormularioUnidad();" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-cuerpo">
                    <form asp-controller="Unidades" asp-action="Create" method="post" class="modal-formulario-crear-unidad">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="NombreUnidadVista" class="control-label">Nombre unidad<span class="Mensaje">*</span></label>
                                        <input type="text" oninput="validarCampoUnidad(this);" id="NombreUnidadVista" name="nombreUnidad" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CantidadPorUnidad" class="control-label">Cantidad por unidad<span class="Mensaje">*</span></label>
                                        <input type="number" oninput="validarCampoUnidad(this);" id="CantidadPorUnidad" name="cantidadPorUnidad" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="DescripcionUnidad" class="control-label">Descripcion unidad</label>
                                    <input type="text" oninput="validarCampoUnidad(this);" placeholder="Campo no obligatorio" id="DescripcionUnidad" name="descripcionUnidad" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="modal-contenedor-footer">
                            <button type="reset" onclick="limpiarFormularioUnidadAgregar();" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary btnGuardar">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade GeneralModal" id="ModalActualizarUnidad" tabindex="-1" aria-labelledby="exampleModalLabel" onblur="AlPerderFocoUnidad();" aria-hidden="true">
        <div class="modal-dialog">
            <div id="FormActualizarUnidad" class="modal-content">
                <div class="modal-cabecera">
                    <div id="pibo"></div>
                    <div class="modal-header-view TituloModal">
                        <h2 class="modal-title">Actualizar unidad</h2>
                    </div>
                    <div class="modal-header-view" id="modal-cabecera-equis">
                        <button type="button" onclick="limpiarFormularioUnidad();" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-cuerpo">
                    <form asp-controller="Unidades" asp-action="Update" method="post" class="modal-formulario-actualizar-unidad">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <input id="UnidadIdAct" name="unidadId" class="form-control" type="hidden" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="NombreUnidadVistaAct" class="control-label">Nombre unidad<span class="Mensaje"></span></label>
                                        <input type="text" id="NombreUnidadVistaAct" oninput="validarCampoUnidad(this);" name="nombreUnidad" class="form-control" autocomplete="off" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CantidadPorUnidadAct" class="control-label">Cantidad por unidad<span class="Mensaje"></span></label>
                                        <input type="number" id="CantidadPorUnidadAct" oninput="validarCampoUnidad(this);" name="cantidadPorUnidad" class="form-control" autocomplete="off" />
                                        <span class="text-danger" id="mensajeCantidadUnidadAct"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="EstadoUnidadAct" class="control-label">Estado</label>
                                        <select id="EstadoUnidadAct" name="estadoUnidad" class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="DescripcionUnidadAct" class="control-label">Descripcion unidad</label>
                                    <input type="text" id="DescripcionUnidadAct" name="descripcionUnidad" class="form-control" />
                                    <span class="text-danger" id="mensajeDescripcionAct"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-contenedor-footer">
                            <button type="reset" onclick="limpiarFormularioUnidadAct();" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary btnGuardar">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="contenedor-filtro">
        <select name="order" class="input-sm empSelect" onchange="redirectToOrder(this)">
            <option selected disabled>
                Ordenar por
            </option>
            <option data-url="?order=alfabetico">Ordenar por nombre (A-Z)</option>
            <option data-url="?order=name_desc">Ordenar por nombre (Z-A)</option>
            <option data-url="?order=first">Ordenar por más antiguo</option>
            <option data-url="?order=reverse">Ordenar por más reciente</option>
        </select>
    </div>
    <hr>
    <!-- Tabla de unidades -->
    <table class="table table-custom text-center">
        <thead>
            <tr>
                <th class="contadorB consecutivo noIs">#</th>
                <th class="consecutivo contador">
                    #
                </th>
                <th class="d-none">
                    unidad Id
                </th>
                <th>
                    Nombre completo
                </th>
                <th class="contenedorEstado">
                    Estado
                </th>
                <th class="contenedorAcciones">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @{
                int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
            }
            @foreach (var item in Model)
            {
                <tr class="unidadesPaginado">
                    <td>
                        @contador
                        @{
                            contador++;
                        }
                    </td>
                    <td class="d-none unidad-id">
                        @Html.DisplayFor(modelItem => item.UnidadId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompletoUnidad)
                    </td>
                    <td class="text-center align-middle">
                        <label class="switch">
                            <input type="checkbox" @(item.EstadoUnidad != 0 ? "checked" : "") onchange="actualizarEstadoUnidad('@item.UnidadId', this.checked)">
                            <span class="slider"></span>
                        </label>
                    </td>
                    <!-- Botones de acciones -->
                    <td class="botonesTabla">
                        <div class="botonesTablaContenedor">
                            <button class="btn btn-edit botonEditar" onclick="mostrarModalActualizarUnidad(@item.UnidadId);"><i class="fas fa-edit"></i></button>
                            <a asp-action="Details" asp-controller="Unidades" asp-route-id="@item.UnidadId" class="btn btn-detail botonDetalle"><i class="fas fa-file"></i></a>
                            <form asp-controller="Unidades" class="eliminarUnidad" asp-action="Delete" method="post">
                                <input type="hidden" value="@item.UnidadId" name="UnidadId" />
                                <button type="submit" value="" class="btn btn-danger botonEliminar"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            @{
                var unidades = ViewData["Unidades"] as List<Unidad>;
                if (unidades != null)
                {
                    int contadorB = 1;
                    foreach (var unidad in unidades)
                    {
                        <tr class="Unidades noIs">
                            <td class="contadorB noIs">
                                @contadorB <!-- Muestra el valor del contador -->
                            </td>
                            <td>@unidad.UnidadId</td>
                            <td>@unidad.NombreCompletoUnidad</td>
                    
                            <td class="text-center align-middle">
                                <label class="switch">
                                    <input type="checkbox" @(unidad.EstadoUnidad != 0 ? "checked" : "") onchange="actualizarEstadoUnidad('@unidad.UnidadId', this.checked)">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                            <td class="botonesTabla">
                                <div class="botonesTablaContenedor">
                                    <button class="btn btn-edit botonEditar" onclick="mostrarModalActualizarUnidad(@unidad.UnidadId);"><i class="fas fa-edit"></i></button>
                                    <a asp-action="Details" asp-controller="Unidades" asp-route-id="@unidad.UnidadId" class="btn btn-detail botonDetalle"><i class="fas fa-file"></i></a>
                                    <form asp-controller="Unidades" class="eliminarUnidad" asp-action="Delete" method="post">
                                        <input type="hidden" value="@unidad.UnidadId" name="UnidadId" />
                                        <button type="submit" value="" class="btn btn-danger botonEliminar"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        contadorB++;
                    }
                }
            }
        </tbody>
    </table>
    <!-- Contenedor de paginación -->
    <div class="pagination-container mt-2" id="paginationContainer">
        @if (Model != null && Model.PageCount > 1)
        {
            <div class="d-flex justify-content-center mb-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Botón para ir a la primera página -->
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">Primero</span>
                                </a>
                            </li>
                        }
                        <!-- Botón para la página anterior (oculto en la página 1) -->
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </li>
                        <!-- Iterar sobre las páginas disponibles -->
                        @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="?page=@i">@i</a>
                            </li>
                        }
                        <!-- Botón para la página siguiente (oculto en la última página) -->
                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <!-- Botón para ir a la última página -->
                        @if (Model.PageNumber < Model.PageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                    <span aria-hidden="true">Último</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>
