@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Unidad>
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UnidadModal">
        Agregar Unidad
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="UnidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Unidad</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div id="MensajeInicial"></div>
            <form asp-controller="" asp-action="" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="UnidadId" name="unidadId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreUnidad" class="control-label">Nombre Unidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="NombreUnidad" name="nombreUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CantidadPorUnidad" class="control-label">Cantidad por unidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="CantidadPorUnidad" name="cantidadPorUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="DescripcionUnidad" class="control-label">DescripcionUnidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="DescripcionUnidad" name="descripcionUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                        
                    <div class="form-group" id="estadoUnidad" style="display:none">
                        <label for="EstadoUnidad" class="control-label">Estado</label>
                        <select id="EstadoUnidad" name="estadoUnidad" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Unidad</button>
                </div>



            </form>

        </div>
    </div>
</div>


<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                NOMBRE UNIDAD
            </th>
            <th>
                CANTIDAD POR UNIDAD
            </th>
            <th>
                ESTADO
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center unique-tbody">
        @{
            int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
        }
        @foreach (var item in Model)
        {
            <tr id="row-@(contador)">
                <td>
                  @contador 
                    @{
                        contador++;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPorUnidad)
                </td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoUnidad != 0 ? "checked" : "") onchange="mostraralerta('@item.EstadoUnidad')">
                        <span class="slider"></span>
                    </label>
                    @Html.DisplayFor(modelItem => item.EstadoUnidad)
                </td>
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn" id="btnEdit" data-unidad-id="@item.UnidadId" data-bs-toggle="modal" data-bs-target="#UnidadModal"><i class="fas fa-edit"></i> </button>
                    <a asp-action="Details" id="btnDetail" asp-route-id="@item.UnidadId" class="btn"><i class="fa-solid fa-file"></i></a>
                    <button class="btn" id="btnDelete" data-unidad-id="@item.UnidadId"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation" class="shadow p-3 mb-5 bg-white rounded">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/unidades.js"></script>