@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Unidad>
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
            <div class="input-group">
                <input id="buscarUnidad" type="text" class="form-control" placeholder="Buscar unidad" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-primary" id="btnNavbarSearch" onclick="vaciarInput()" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UnidadModal">
        Agregar Unidad
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="UnidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="AgregarUnidades">
            <div class="modal-header" >
                <h5 class="modal-title" id="TituloModal">Agregar Unidad</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div id="MensajeInicial"></div>
            <form asp-controller="Unidades" asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="UnidadId" name="unidadId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreUnidad" class="control-label">Nombre Unidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="NombreUnidad" name="nombreUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="CantidadPorUnidad" class="control-label">Cantidad por unidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="CantidadPorUnidad" name="cantidadPorUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="DescripcionUnidad" class="control-label">DescripcionUnidad</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="DescripcionUnidad" name="descripcionUnidad" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                        
                    <div class="form-group" id="estadoUnidad" style="display:none">
                        <label for="EstadoUnidad" class="control-label">Estado</label>
                        <select id="EstadoUnidad" name="estadoUnidad" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnGuardar">Agregar</button>
                </div>



            </form>

        </div>

        <div class="modal-content" id="FormActualizarUnidades" style="display:none;">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalPresentacion">Actualizar Unidades</h5>
                <button type="button" class="btn-close" onclick="limpiarFormulario()" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="MensajeInicialActPresentacion"></div>
            <form asp-controller="Usuarios" asp-action="Update" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input id="UnidadesIdAct" name="unidadesIdAct" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label for="NombreUnidadAct" class="control-label">Nombre Unidad</label>
                        <input type="text" id="NombreUnidadAct" name="nombreUnidadAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeNombreUnidadAct"></span>



                    </div>

                    <div class="form-group">
                        <label for="CantidadUnidadAct" class="control-label">Cantidad Unidad</label>
                        <input type="text" id="CantidadUnidadAct" name="cantidadUnidadAct" class="form-control" autocomplete="off" />
                        <span class="text-danger" id="mensajeCantidadUnidadAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="DescripcionUnidadAct" class="control-label">Descripcion</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="DescripcionUnidadAct" name="descripcionUnidadAct" class="form-control" />
                        <span class="text-danger" id="mensajeDescripcionAct"></span>
                    </div>

                    <div class="form-group">
                        <label for="EstadoUnidadAct" class="control-label">Estado</label>
                        <select id="EstadoUnidadAct" name="estadoUnidadAct" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <span class="text-danger" id="mensajeEstadoUnidadAct"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnEditarUnidad">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th class="d-none">
                unidad Id
            </th>
            <th>
                NOMBRE UNIDAD
            </th>
            <th>
                CANTIDAD POR UNIDAD
            </th>
            <th>
                ESTADO
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center unique-tbody">
        @{
            int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
        }
        @foreach (var item in Model)
        {
            <tr class="unidadesPaginado">
                <td>
                  @contador 
                    @{
                        contador++;
                    }
                </td>
                <td class="d-none unidad-id">
                    @Html.DisplayFor(modelItem => item.UnidadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPorUnidad)
                </td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoUnidad != 0 ? "checked" : "") onchange="actualizarEstadoUnidad('@item.UnidadId', this.checked)">
                        <span class="slider"></span>
                    </label>
                </td>
                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn" id="btnEdit"  data-unidad-id="@item.UnidadId" data-bs-toggle="modal" data-bs-target="#UnidadModal"><i class="fas fa-edit"></i></button>

                    <a asp-action="Details" id="btnDetail" asp-route-id="@item.UnidadId" class="btn"><i class="fa-solid fa-file"></i></a>
                    <form style="display:inline-block;" asp-controller="Unidades" asp-action="Delete" method="post" class="delete-form">
                        @Html.Hidden("id", item.UnidadId)
                        <!-- Agrega el atributo onclick para llamar a la función confirmarEliminacion() -->
                        <button type="button" onclick="confirmarEliminacion()" id="btnDelete" value="" class="btn btn-danger delete-button botonEliminar"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
        @{
            var unidades = ViewData["Unidades"] as List<Unidad>;
            if (unidades != null)
            {
                foreach (var unidad in unidades)
                {
                    <tr class="Unidades" style="display:none;">
                        <td>@unidad.UnidadId</td>
                        <td>@unidad.NombreUnidad</td>
                        <td>@unidad.CantidadPorUnidad</td>

                        <td class="text-center align-middle">
                            <label class="switch">
                                <input type="checkbox" @(unidad.EstadoUnidad != 0 ? "checked" : "") onchange="actualizarEstadoUnidad('@unidad.UnidadId', this.checked)">
                                <span class="slider"></span>
                            </label>
                        </td>
                        <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                        <td>
                            <button class="btn" id="btnEdit" data-unidad-id="@unidad.UnidadId" data-bs-toggle="modal" data-bs-target="#UnidadModal"><i class="fas fa-edit"></i></button>

                            <a asp-action="Details" id="btnDetail" asp-route-id="@unidad.UnidadId" class="btn"><i class="fa-solid fa-file"></i></a>
                            <form style="display:inline-block;" asp-controller="Unidades" asp-action="Delete" method="post" class="delete-form">
                                @Html.Hidden("id", unidad.UnidadId)
                                <!-- Agrega el atributo onclick para llamar a la función confirmarEliminacion() -->
                                <button type="button" onclick="confirmarEliminacion()" id="btnDelete" value="" class="btn btn-danger delete-button botonEliminar"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- Botón para ir a la primera página -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">Primero</span>
                            </a>
                        </li>
                    }
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </li>
                    <!-- Botón para ir a la última página -->
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Último</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/unidades.js"></script>

@if (!string.IsNullOrEmpty(TempData["Mensaje"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>


    <script>
        // Mostrar SweetAlert cuando haya un mensaje en TempData["Mensaje"]
        Swal.fire({
            position: "center",
            icon: "success",
            title: "Se ha registrado la unidad exitosamente",
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            // Después de cerrar el SweetAlert, abrimos el modal nuevamente
            $('#UnidadModal').modal('show');
        });
    </script>
}


@if (TempData["SweetAlertMessage"] != null)
{
    <script>
        Swal.fire({
            position: "center",
            icon: "@TempData["SweetAlertIcon"]",
            title: "@TempData["SweetAlertTitle"]",
            text: "@TempData["SweetAlertMessage"]",
            showConfirmButton: false, // Mostrar botón de confirmación
            timer: 3000
        })
    </script>
}

<script>


    // Función para mostrar el modal de confirmación antes de eliminar
    function confirmarEliminacion() {
        // Mostrar modal de confirmación
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, enviar el formulario de eliminación
                $(".delete-form").submit();
            }
        });
    }



</script>