@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<VistaNewProject.Models.Detallecompra>
<link rel="stylesheet" href="~/css/Compra.css" />
@{
    ViewData["Title"] = "Detalles de Compra";
}
</br>
<a asp-action="Index" class="btn btn-primary btn-sm">
    <i class="fas fa-arrow-left"></i> Volver
</a>
<div>
    <h4>Productos asociados:</h4>
    @if (Model.Any())
    {
            <div class="detalle-compra">
                <div class="pedido-info">
                    <div class="detalle-compra">
                        <div class="pedido-info">
                            <table class="table tablaDetalle">
                                <thead>
                                    <tr>
                                        <th>Número lote</th>
                                        <th>Producto ID</th>
                                        <th>Nombre producto</th>
                                        <th>Nombre unidad</th>
                                        <th>Cantidad x producto</th>
                                        <th>Cantidad x unidad de producto</th>
                                        <th>Precio x unidad</th>
                                        <th>Precio x producto</th>
                                        <th>Precio x unidad de Producto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var detalle in Model)
                                {
                                    var lotesDetalle = ViewBag.Lotes as List<VistaNewProject.Models.Lote>;
                                    var lotesAsociados = lotesDetalle?.Where(l => l.DetalleCompraId == detalle.DetalleCompraId).ToList();
                                    @if (lotesAsociados != null && lotesAsociados.Any())
                                    {
                                        foreach (var lote in lotesAsociados)
                                        {
                                            <tr>
                                                <td>@lote.NumeroLote</td>
                                                <td>@detalle.ProductoId</td>
                                                <td>@(detalle.Producto != null ? detalle.Producto.NombreCompletoProducto : "No se encontró información")</td>
                                                <td>@(detalle.Unidad != null ? detalle.Unidad.NombreCompletoUnidad: "No se encontró información")</td>
                                                <td>@lote.CantidadCompra</td>
                                                <td>@lote.CantidadPorUnidadCompra</td>
                                                <td>@lote.PrecioPorUnidad</td>
                                                <td>@lote.PrecioPorPresentacion</td>
                                                <td>@lote.PrecioPorUnidadProducto</td>
                                            </tr>
                                        }
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        <div class="pagination-container mt-2">
            @if (Model != null && Model.PageCount > 1)
            {
                <div class="d-flex justify-content-center mb-5">
                    <nav aria-label="Page navig ation">
                        <ul class="pagination justify-content-center">
                            <!-- Botón para ir a la primera página -->
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Compra.CompraId, page = 1, order = ViewBag.CurrentOrder })" aria-label="First">
                                        <span aria-hidden="true">Primero</span>
                                    </a>
                                </li>
                            }
                            <!-- Botón para la página anterior (oculto en la página 1) -->
                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Compra.CompraId, page = Model.PageNumber - 1, order = ViewBag.CurrentOrder })" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                                </a>
                            </li>
                            <!-- Iterar sobre las páginas disponibles -->
                            @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Compra.CompraId, page = i, order = ViewBag.CurrentOrder })">@i</a>
                                </li>
                            }
                            <!-- Botón para la página siguiente (oculto en la última página) -->
                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Compra.CompraId, page = Model.PageNumber + 1, order = ViewBag.CurrentOrder })" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <!-- Botón para ir a la última página -->
                            @if (Model.PageNumber < Model.PageCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Details", new { id = ViewBag.Compra.CompraId, page = Model.PageCount, order = ViewBag.CurrentOrder })" aria-label="Last">
                                        <span aria-hidden="true">Último</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    }
    else
    {
        <p>No hay detalles de compra disponibles.</p>
    }
</div>

<script src="~/js/Detalle.js"></script>
