@model IEnumerable<VistaNewProject.Models.Compra>
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" href="~/css/compra.css" />
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CompraModal">
    Agregar Compra
</button>

<!-- Modal -->
<div class="modal fade" id="CompraModal" tabindex="-1" aria-labelledby="titulomodal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="tituloModal">Agregar Compra</h2>
                <h3 class="modal-title noVisualizar" id="subTituloModal">Agregar productos a la compra</h3>
                <button type="button" class="btn-close" onclick="volverARegistrarCompra()"data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="PrincipalCompra" class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="CompraId" name="compraId" class="form-control" />
                    <div class="row">
                        <div class="col-6">
                            <label for="ProveedorId" class="control-label">Proveedor</label>
                            <select id="ProveedorId" name="ProveedorId" class="form-select">
                                <option value="" selected disabled>Seleccione un proveedor</option>
                                @foreach (var proveedor in ViewBag.Proveedores)
                                {
                                    <option value="@proveedor.ProveedorId">@proveedor.NombreEmpresa</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="FechaCompra" class="control-label">Fecha Compra</label>
                            <input type="datetime-local" id="FechaCompra" name="fechaCompra" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="NumeroFactura" class="control-label"># de Factura</label>
                            <input type="text" id="NumeroFactura" name="numeroFactura" class="form-control" />
                        </div>
                        <div class="col-6">
                            <label for="NumeroLote" class="control-label">Numero Lote</label>
                            <input type="text" id="NumeroLote" name="numeroLote" class="form-control" />
                        </div>
                    </div>
                    <div id="agregarDetalle">
                        <button class="btn btn-primary" id="btnAbrirDetalle" onclick="agregarProductos()">Agregar productos</button>
                    </div>
                    <div class="contenedorFooter noVer" id="actualizarCompra">
                        <button class="btn btn-secondary" id="reducir" onclick="noVerCompra()" title="Reducir"><i class="fas fa-minus"></i></button>
                        <button class="btn btn-primary" id="btnActualizarCompra" onclick="actualizarCompra()">Actualizar datos de compra</button>
                    </div>
                </div>
            </div>
            <div class="modal-body noVisualizar" id="DetallesCompra">
                <div id="detallecontainer" class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label for="ProductoId" class="control-label">Producto</label>
                            <input list="productos" id="ProductoId" name="productoId" class="form-control" placeholder="Escribe y/o selecciona el producto ...">
                            <datalist id="productos">
                                @foreach (var producto in ViewBag.Productos)
                                {
                                    var presentacion = ViewBag.Presentaciones as List<Presentacion>;

                                    if (presentacion != null && presentacion.Any())
                                    {
                                        var presentacionEncontrada = presentacion.FirstOrDefault(p => p.PresentacionId == producto.PresentacionId);
                                        var nombrePresentacion = presentacionEncontrada != null ? presentacionEncontrada.NombrePresentacion : "Sin presentación";
                                        var contenido = presentacionEncontrada != null ? presentacionEncontrada.Contenido : "";
                                        int cantidad = presentacionEncontrada != null ? presentacionEncontrada.CantidadPorPresentacion ?? 0 : 0;

                                        <option value="@producto.ProductoId" data-cantidad="@cantidad">@($"{producto.NombreProducto} {nombrePresentacion} x {contenido}")</option>

                                    }
                                    else
                                    {
                                        <option value="@producto.ProductoId" >@($"{producto.NombreProducto} x Sin presentación ni cantidad")</option>
                                    }
                                }
                            </datalist>
                            <input type="hidden" id="ProductoIdHidden" name="productoIdHidden">
                            <input type="hidden" id="CantidadPorPresentacionHidden" name="cantidadPorPresentacionHidden">
                            

                        </div>


                        <div class="col-4">
                            <label for="UnidadId" class="control-label">Unidad</label>
                            <input list="unidades" id="UnidadId" name="unidadId" class="form-control" placeholder="Escribe y / o selecciona la unidad ..." >
                            <datalist id="unidades">
                                @foreach (var unidad in ViewBag.Unidades)
                                {
                                       
                                     <option value="@unidad.UnidadId">@($"{unidad.NombreUnidad} x {unidad.CantidadPorUnidad}")</option>
                                }
                            </datalist>
                            <input type="hidden" id="UnidadIdHidden" name="unidadIdHidden">
                            <input type="hidden" id="CantidadPorUnidad" name="CantidadPorUnidad">
                        </div>
                        <div class="col-3">
                            <label for="Cantidad" class="control-label">Cantidad</label>
                            <div class="input-group" id="CampoCantidad">
                                <input type="number" id="Cantidad" name="cantidad" class="form-control" value="1" min="1">
                                <button type="button" class="btn btn-default btn-number input-group-append" id="btnMas">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-number input-group-prepend" id="btnMenos">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4 contenedorCalculo">
                            <label for="PrecioDeCompra" class="control-label" id="PC">Precio de Compra<span style="visibility: hidden;">Textohidden</span></label>
                            <input type="text" id="PrecioDeCompra" name="precioDeCompra" class="form-control" />
                            <div class="contenedorCalcular" >
                                <button class="btn-secondary btn-calculo" id="btnCalcular" title="Calcular"><i class="fas fa-calculator"></i></button>
                            </div>
                        </div>
                            <div class="col-4">
                                <label for="PrecioDeCompraPorPresentacion" class="control-label">Precio de Compra x Producto</label>
                                <input type="text" id="PrecioDeCompraPorPresentacion" name="precioDeCompraPorPresentacion" class="form-control" readonly />
                            </div>
                            <div class="col-4">
                                <label for="PrecioDeCompraUnitario" class="control-label">Precio de Compra x Unidad</label>
                                <input type="text" id="PrecioDeCompraUnitario" name="precioDeCompraUnitario" class="form-control" readonly />
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="FechaVencimiento" class="control-label">Fecha Vencimiento <span style="visibility: hidden;">Textohidden</span></label>
                            <input type="datetime-local" id="FechaVencimiento" name="fechaVencimiento" class="form-control" />
                            <input type="text" class="noVisualizar form-control" id="FechaVencimientoNunca" name="fechaVencimientoNunca" value="Producto no perecedero" readonly />
                            <label for="checkboxNoVencimiento" id="Vencimiento" class="control-label">No perecedero:</label>
                            <input type="checkbox" id="checkboxNoVencimiento" />
                        </div>
                        <div class="col-4 contenedorCalculo2">
                            <label for="PrecioDeVentaUnitario" class="control-label">Precio de venta  x Producto</label>
                            <input type="text" id="PrecioDeVentaUnitario" name="precioDeVentaUnitario" class="form-control" />
                            <div class="contenedorCalcular2">
                                <button class="btn-secondary btn-calculo" id="btnCalcularVenta" title="Calcular precio por unidad"><i class="fas fa-calculator"></i></button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="PrecioDeVentaxUnidadPresentacion" class="control-label">Precio De Venta x Unidad</label>
                            <input type="text" id="PrecioDeVentaxUnidadPresentacion" name="precioDeVentaxUnidadPresentacion" class="form-control" />
                        </div>
                        <div  class="contenedorFooter">
                            <button class="btn btn-secondary  noVer" id="expandir" onclick="verCompra()" title="Expandir"><i class="fas fa-expand-alt"></i></button>
                            <button class="btn btn-primary" id="btnAgregarDetalleCompra" onclick="agregarDetalleCompra()"><i id="agregarDetalleIcono" class="fas fa-plus-circle"></i>Agregar Producto</button>
                        </div>
                    </div>
                    <div class="modal-footer noVisualizar" id="verCompra">
                        <div>Valor Total Compra: $</div>
                        <div class="ml-auto">
                            <button class="btn btn-secondary" onclick="verTodo()" title="VERtodo"><i class="fas fa-minus"></i></button>
                             
                            <button class="btn btn-secondary  noVer" id="expandirDetalle" onclick="verDetalleCompra()" title="Expandir detalle"><i class="fas fa-expand-alt"></i></button>
                            <button class="btn btn-secondary  noVer" id="expandir" onclick="verCompra()" title="Expandir"><i class="fas fa-expand-alt"></i></button>
                            <button id="volverRegistrarCompra" class="btn btn-secondary" onclick="volverARegistrarCompra()" title="Limpiar Compra"><i class="fas fa-broom"></i></button>
                        </div>
                    </div>

                </div>
                <div class="">
                    <table id="detalleTable" class="table table-custom text-center">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>PrecioUnitario</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="detalleTableBody">
                            <!-- Aquí se mostrarán los detalles agregados dinámicamente -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer noVisualizar" id="verCompra">
                <div>Valor Total Compra: $</div>
                <div class="ml-auto">
                    <button class="btn btn-secondary"  title="Reducir"><i class="fas fa-minus"></i></button>
                    <button class="btn btn-secondary  noVer" id="expandir" onclick="verCompra()" title="Expandir"><i class="fas fa-expand-alt"></i></button>
                    <button id="volverRegistrarCompra" class="btn btn-secondary" onclick="volverARegistrarCompra()" title="Limpiar Formulario"><i class="fas fa-broom"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Compra Id
            </th>
            <th>
                Proveedor Id
            </th>
            <th>
                # Factura
            </th>
            <th>
                Fecha compra
            </th>
            <th>
                Estado compras
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompraId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProveedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCompra)
                </td>
                <td>
                    <button id="btnEditar" class="btn btn-warning" onclick="obtenerDatosCompras('@item.CompraId')" data-bs-toggle="modal" data-bs-target="#CompraModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarCompra('@item.CompraId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/compras.js"></script>
