@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Compra>
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" href="~/css/compra.css" />
<br />
<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                <!-- Botón para limpiar la búsqueda -->
                <button class="btn btn-danger" id="btnClearSearch" type="button"><i class="fas fa-times"></i></button>
            </div>
        </form>
    </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CompraModal">
        <i class="fas fa-plus-circle"></i>  Agregar Compra
    </button>

</div>


<!-- Modal -->
<div class="modal fade" id="CompraModal" tabindex="-1" aria-labelledby="titulomodal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h2 class="modal-title" id="tituloModal">Agregar Compra</h2>
                <h3 class="modal-title noVisualizar" id="subTituloModal">Agregar productos a la compra</h3>
                <button type="button" class="btn-close" onclick="volverARegistrarCompra()"data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="PrincipalCompra" class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="CompraId" name="compraId" class="form-control" />
                    <div class="row">
                        <div class="col-6">
                            <label for="ProveedorId" class="control-label">Proveedor</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <input list="proveedores" id="ProveedorId" name="ProveedorId" class="form-control" autocomplete="off">
                            <datalist id="proveedores">
                                @foreach (var proveedor in ViewBag.Proveedores)
                                {
                                    <option value="@proveedor.ProveedorId">@proveedor.NombreEmpresa</option>
                                }
                            </datalist>
                            <input type="hidden" type="number" id="ProveedorIdHidden" name="proveedorIdHidden">
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-6">
                            <label for="FechaCompra" class="control-label">Fecha Compra</label>
                            <input type="datetime-local" id="FechaCompra" name="fechaCompra" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="NumeroFactura" class="control-label"># de Factura</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <input type="text" id="NumeroFactura" name="numeroFactura" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div style="text-align:center;"class="noVisualizar" id="MensajeInicial">Completa los campos con *</div>
                    <div class="text-center" id="agregarDetalle">
                        <button class="btn btn-primary" id="btnAbrirDetalle" onclick="agregarProductos()">Agregar productos</button>
                    </div>
                    <div class="contenedorFooter noVer" id="actualizarCompra">
                        <button class="btn btn-secondary" id="reducir" onclick="noVerCompra()" title="Reducir"><i class="fas fa-minus"></i></button>
                        <button class="btn btn-primary" id="btnActualizarCompra" onclick="actualizarCompra()">Actualizar datos de compra</button>
                    </div>
                </div>
            </div>
            <div class="modal-body noVisualizar" id="DetallesCompra">
                <div id="detallecontainer" class="form-group">
                    <div class="row" id="DatosProducto">
                        <div class="col-5">
                            <label for="ProductoId" class="control-label">Producto</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <input list="productos" id="ProductoId" name="productoId" class="form-control" placeholder="Escribe y/o selecciona el producto ..." autocomplete="off">
                            <datalist id="productos">
                                @foreach (var producto in ViewBag.Productos)
                                {
                                    var presentacion = ViewBag.Presentaciones as List<Presentacion>;

                                    if (presentacion != null && presentacion.Any())
                                    {
                                        var presentacionEncontrada = presentacion.FirstOrDefault(p => p.PresentacionId == producto.PresentacionId);
                                        var nombrePresentacion = presentacionEncontrada != null ? presentacionEncontrada.NombrePresentacion : "Sin presentación";
                                        var contenido = presentacionEncontrada != null ? presentacionEncontrada.Contenido : "";
                                        int cantidad = presentacionEncontrada != null ? presentacionEncontrada.CantidadPorPresentacion ?? 0 : 0;

                                        <option value="@producto.ProductoId" data-cantidad="@cantidad">@($"{producto.NombreProducto} {nombrePresentacion} x {contenido}")</option>

                                    }
                                    else
                                    {
                                        <option value="@producto.ProductoId" >@($"{producto.NombreProducto} x Sin presentación ni cantidad")</option>
                                    }
                                }
                            </datalist>
                            <input type="hidden" id="ProductoIdHidden" name="productoIdHidden">
                            <input type="hidden" id="CantidadPorPresentacionHidden" name="cantidadPorPresentacionHidden">
                            

                        </div>
                        <div class="col-4">
                            <div>
                                <label for="FechaVencimiento" class="control-label">Fecha Vencimiento </label>
                                <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            </div>
                            <input type="datetime-local" id="FechaVencimiento" name="fechaVencimiento" class="form-control" />
                            <input type="text" class="noVisualizar form-control" id="FechaVencimientoNunca" name="fechaVencimientoNunca" value="Producto no perecedero" readonly />
                            <label for="checkboxNoVencimiento" id="Vencimiento" class="control-label">No aplica clic:</label>
                            <input type="checkbox" id="checkboxNoVencimiento" />
                        </div>
                        <div class="col-3">
                            <label for="NumeroLote" class="control-label">Numero Lote</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <input type="text" id="NumeroLote" name="numeroLote" class="form-control" />
                        </div>
                    </div>
                    <div class="EspacioForm"></div>
                    <div class="row">
                        <div class="col-3">
                            <label for="UnidadId" class="control-label">Unidad</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <input list="unidades" id="UnidadId" name="unidadId" class="form-control" placeholder="Escribe y / o selecciona la unidad ..." autocomplete="off">
                            <datalist id="unidades">
                                @foreach (var unidad in ViewBag.Unidades)
                                {

                                    <option value="@unidad.UnidadId">@($"{unidad.NombreUnidad} x {unidad.CantidadPorUnidad}")</option>
                                }
                            </datalist>
                            <input type="hidden" type="number" id="UnidadIdHidden" name="unidadIdHidden">
                            <input type="hidden" id="CantidadPorUnidad" name="CantidadPorUnidad">
                        </div>
                        <div class="col-3">
                            <label for="Cantidad" class="control-label">Cantidad</label>
                            <div class="input-group" id="CampoCantidad">
                                <input type="number" id="Cantidad" name="cantidad" class="form-control" value="1" min="1">
                                <button type="button" class="btn btn-default btn-number input-group-prepend" id="btnMenos">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-number input-group-append" id="btnMas">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                            <div class="col-3">
                                <label for="PrecioDeCompra" class="labelForm control-label" id="PC" style="display:inline-block;">Precio de Compra</label>
                                <span class="Mensaje" style="color:red;display:inline-block; margin-left:4px;">*</span>
                                <input type="text" id="PrecioDeCompra" name="precioDeCompra" class="form-control"/>
                            </div>
                        <div class="col-3">
                            <label for="PorcentajeGanancia" class="">% A Ganar</label>
                            <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                            <div class="contenedorCalculo">
                                <input type="text" id="PorcentajeGanancia" name="porcentajeGanancia" class="form-control"/>
                                <button class="btn-calculo" id="btnCalcular" title="Calcular"><i class="fas fa-calculator"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="EspacioForm"></div>
                    <div class="row noVisualizar" id="PrecioBuy">
                        <h5>Precio de compra</h5>
                        <div class="col-4">
                            <label for="PrecioDeCompraPorUnidad" class="labelForm control-label">x Unidad</label>
                            <input type="text" id="PrecioDeCompraPorUnidad" name="precioDeCompraPorUnidad" class="form-control" readonly />
                        </div>
                        <div class="col-4">
                            <label for="PrecioDeCompraPorPresentacion" class=" labelForm control-label">x Producto</label>
                            <input type="text" id="PrecioDeCompraPorPresentacion" name="precioDeCompraPorPresentacion" class="form-control" readonly />
                        </div>
                        <div class="col-4">
                            <label for="PrecioDeCompraUnitario" class="labelForm control-label"> x Unidad de producto</label>
                            <input type="text" id="PrecioDeCompraUnitario" name="precioDeCompraUnitario" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row noVisualizar" id="PrecioBougth">
                        <h5>Precio de venta</h5>
                        <div class="col-4">
                            <label for="PrecioDeVentaPorUnidad" class="labelForm control-label">x Unidad</label>
                            <input type="text" id="PrecioDeVentaPorUnidad" name="precioDeVentaPorUnidad" class="form-control"/>
                        </div>
                        <div class="col-4" >
                            <label for="PrecioDeVentaUnitario" class="control-label">x Producto</label>
                            <div class="contenedorCalculo">
                                <input type="text" id="PrecioDeVentaUnitario" name="precioDeVentaUnitario" class="form-control" />
                                <button class="btn-calculo" id="btnCalcularVenta" title="Calcular precio por unidad"><i class="fas fa-calculator"></i></button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="PrecioDeVentaxUnidadPresentacion" class="control-label">x Unidad de producto</label>
                            <input type="text" id="PrecioDeVentaxUnidadPresentacion" name="precioDeVentaxUnidadPresentacion" class="form-control" />
                        </div>
                        <div  class="contenedorFooter">
                            <button class="btn btn-primary" id="btnAgregarDetalleCompra" onclick="agregarDetalleCompra()"><i id="agregarDetalleIcono" class="fas fa-plus-circle"></i>Agregar Producto</button>
                        </div>
                    </div>
                    <div class="modal-footer noVisualizar" id="verCompra">
                        <div style="display:flex;"><h5 id="ValorTotalTitulo">Valor Total Compra:</h5><input type="text" id="ValorTotal" readonly/></div>
                        <div class="ml-auto">
                            <button class="btn btn-secondary" onclick="verTodo()" title="Ver todo"><i class="fas fa-minus"></i></button>
                            <button class="btn btn-secondary  noVer" id="expandirDetalle" onclick="verDetalleCompra()" title="Expandir detalle"><i class="fas fa-expand-alt"></i></button>
                            <button class="btn btn-secondary  noVer" id="expandir" onclick="verCompra()" title="Expandir"><i class="fas fa-expand-alt"></i></button>
                            <button id="volverRegistrarCompra" class="btn btn-secondary" onclick="volverARegistrarCompra()" title="Limpiar Compra"><i class="fas fa-broom"></i></button>
                            <button class="btn btn-secondary" onclick="RegistrarBuy(compra)" title="Enviar">Enviar</button>
                        </div>
                    </div>

                </div>
                <div class="noVisualizar" id="TablaDetalles">
                    <table id="detalleTable" class="table table-custom text-center">
                        <thead>
                            <tr>
                                <th>ProductoId</th>
                                <th>Cantidad</th>
                                <th>PrecioUnitario</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="detalleTableBody">       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr>
<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th class="d-none">
                compraId
            </th>
            <th>
                Proveedor
            </th>
            <th>
                # Factura
            </th>
            <th>
                Fecha compra
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            int contador = ViewBag.contador ?? 1;
        }

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @contador
                    @{
                        contador++;
                    }
                </td>
                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.CompraId)
                </td>
                <td>
                    @foreach (var proveedor in ViewBag.Proveedores)
                    {
                        @if (proveedor.ProveedorId == item.ProveedorId) 
                        {
                            <span>@proveedor.NombreEmpresa</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td class="contenedorEstadoTabla">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoCompra != 0 ? "checked" : "") onchange="mostraralerta('@item.CompraId')">
                        <span class="slider"></span>
                    </label>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CompraId" value="" class="btn botonDetalle" id="btnDetail"><i class="fas fa-file"></i></a>
                    <form style="display:inline-block;" asp-controller="Compras" asp-action="Delete" method="post" class="delete-form">
                        @Html.Hidden("id", item.CompraId)
                        <button type="submit" id="btnDelete" value="" class="btn btn-danger delete-button botonEliminar"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>
<script src="~/js/Compras.js"></script>
