@model IEnumerable<VistaNewProject.Models.Compra>
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" href="~/css/compra.css" />
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CompraModal">
    Agregar Compra
</button>

<!-- Modal -->
<div class="modal fade" id="CompraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="PrincipalCompra" class="modal-body">
                <div class="form-group" id="RegistrarCompra" style="display: block;">
                    <input type="hidden" id="CompraId" name="compraId" class="form-control" />
                    <div class="row">
                        <div class="col-6">
                            <label for="ProveedorId" class="control-label">Proveedor</label>
                            <select id="ProveedorId" name="ProveedorId" class="form-select">
                                <option value="" selected disabled>Seleccione un proveedor</option>
                                @foreach (var proveedor in ViewBag.Proveedores)
                                {
                                    <option value="@proveedor.ProveedorId">@proveedor.NombreEmpresa</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="FechaCompra" class="control-label">Fecha Compra</label>
                            <input type="datetime-local" id="FechaCompra" name="fechaCompra" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="NumeroFactura" class="control-label"># de Factura</label>
                            <input type="text" id="NumeroFactura" name="numeroFactura" class="form-control" />
                        </div>
                    </div>
                    <div class="AgregarDetalle">
                        <button id="agregarDetalle" class="btn btn-primary" onclick="agregarProductos()">Agregar productos</button>
                    </div>
                    
                </div>
                <div class="modal-body" id="DetallesCompra" style="display:none">
                    <div id="detallecontainer" class="">
                        <h4>Agregar productos a la compra</h4>
                        <div class="row">
                            <div class="col-6">
                                <label for="ProveedorId" class="control-label">Producto</label>
                                <select id="ProveedorId" name="ProveedorId" class="form-select">
                                    <option value="" selected disabled>Seleccione un producto</option>
                                    @foreach (var producto in ViewBag.Productos)
                                    {
                                        var presentacion = ViewBag.Presentaciones as List<Presentacion>; // Reemplaza TuTipoDePresentacion por el tipo correcto

                                        // Verificar si la lista de presentaciones no es nula y contiene elementos
                                        if (presentacion != null && presentacion.Any())
                                        {
                                            var presentacionEncontrada = presentacion.FirstOrDefault(p => p.PresentacionId == producto.PresentacionId);
                                            var nombrePresentacion = presentacionEncontrada != null ? presentacionEncontrada.NombrePresentacion : string.Empty;
                                            var contenido = presentacionEncontrada != null ? presentacionEncontrada.Contenido : string.Empty;
                                            <option value="@producto.ProductoId">@($"{producto.NombreProducto} {nombrePresentacion} x {contenido}")</option>
                                        }
                                        else
                                        {
                                            <option value="@producto.ProductoId">@($"{producto.NombreProducto} x Sin presentación")</option>
                                        }
                                    }
                                </select>
                            </div>
                             <div class="col-6">
                                <label for="ProveedorId" class="control-label">Unidad</label>
                                <select id="ProveedorId" name="ProveedorId" class="form-select">
                                    <option value="" selected disabled>Seleccione una unidad</option>
                                    @foreach (var unidad in ViewBag.Unidades)
                                    {
                                        <option value="@unidad.UnidadId">@($"{unidad.NombreUnidad} x {unidad.CantidadPorUnidad}")</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="Cantidad" class="control-label">Cantidad</label>
                                <input type="text" id="Cantidad" name="cantidad" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label for="NumeroLote" class="control-label">Numero Lote</label>
                                <input type="text" id="NumeroLote" name="numeroLote" class="form-control" />
                             </div>

                        </div>
                    </div>
                </div>
                <!-- Otros campos visibles para ingresar información -->
                <!-- Botón para agregar productos -->
                <div class="modal-footer" id="verCompra" style="display:none">
                    <div class="ml-auto">

                        <button class="btn btn-secondary" onclick="verCompra()" title="Expandir"><i class="fas fa-expand-alt"></i></button>
                        <button id="volverRegistrarCompra" class="btn btn-secondary" onclick="volverARegistrarCompra()" title="Limpiar Formulario"><i class="fas fa-broom"></i></button>
                    </div>
                </div>
            </div>

           

            <div class="modal-footer">
                <!-- Botones adicionales para guardar, cerrar, etc. -->
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="CompraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="CompraId" name="compraId" class="form-control" />
                        <div class="row mb-3">
                           
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <div class="ml-auto">
                            <button id="agregarDetalle" type="submit" disabled>Agregar productos</button>
                            <button id="agregarDetalle" class="btn btn-primary" >Agregar productos</button>
                        </div>
                    </div>
            </div>
            <div id="detallecontainer" class="">
                <form id="formDetallecompra" asp-controller="DetalleCompra" asp-action="Create" method="post" class="styled-form">
                    <div class="form-group">
                        <input type="hidden" id="DetalleCompraId" name="detalleCompraId" class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="mb-3">
                               
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label for="ProveedorId" class="control-label">Unidad</label>
                            <select id="ProveedorId" name="ProveedorId" class="form-select">
                                <option value="" selected disabled>Seleccione una unidad</option>
                                @foreach (var unidad in ViewBag.Unidades)
                                {
                                    <option value="@unidad.UnidadId">@($"{unidad.NombreUnidad} x {unidad.CantidadPorUnidad}")</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="Cantidad" class="control-label">Cantidad</label>
                                <input type="text" id="Cantidad" name="cantidad" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="NumeroLote" class="control-label">Numero Lote</label>
                                <input type="text" id="NumeroLote" name="numeroLote" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col ">
                            <div class="mb-3">
                                <label for="FechaVencimiento" class="control-label">Fecha Vencimiento</label>
                                <input type="datetime-local" id="FechaVencimiento" name="fechaVencimiento" class="form-control" />
                            </div>
                        </div>
                        <div class="col ">
                            <div class="mb-3">
                                <label for="PrecioxMayor" class="control-label">PrecioxMayor</label>
                                <input type="text" id="PrecioxMayor" name="precioxMayor" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="PrecioCompra" class="control-label">Precio Compra</label>
                                <input type="text" id="PrecioCompra" name="precioCompra" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="PrecioDetal" class="control-label">Precio Detal</label>
                                <input type="text" id="PrecioDetal" name="precioDetal" class="form-control" />
                            </div>
                        </div>
                        <div class="col">


                            <div class="mb-3">
                                <label for="EstadoLote" class="control-label">Estado Lote</label>
                                <input type="text" id="EstadoLote" name="estadoLote" class="form-control" />
                            </div>
                        </div>
                        <div class="col d-none">

                            <div class="mb-3">
                                <label for="ProductoId" class="control-label">Producto Id</label>
                                <input type="hidden" id="ProductoIdLote" name="productoId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">

                            <div class="mb-3 d-none">
                                <label for="DetalleCompraId" class="control-label">Detalle Compra Id</label>
                                <input type="hidden" id="DetalleCompraIdLote" name="detalleCompraId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Agregar Detalle</button>
                        <button type="button" class="btn btn-secondary" id="cerrardetalle">Cerrar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                <button id="btnGuardarCompra" type="button" data-bs-dismiss="modal" class="btn btn-primary">Guardar Compra</button>
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" onclick="ActualizarCompra()" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Cliente</button>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Compra Id
            </th>
            <th>
                Proveedor Id
            </th>
            <th>
                # Factura
            </th>
            <th>
                Fecha compra
            </th>
            <th>
                Estado compras
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompraId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProveedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCompra)
                </td>
                <td>
                    <button id="btnEditar" class="btn btn-warning" onclick="obtenerDatosCompras('@item.CompraId')" data-bs-toggle="modal" data-bs-target="#CompraModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarCompra('@item.CompraId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/compras.js"></script>
