@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Presentacion>
@{
    ViewData["Title"] = "Presentaciones";
}
<br />
<div class="ContenedorVista" id="ContenedorPresentacion">
    <div class="d-flex justify-content-between">
        <!-- Formulario de búsqueda a la izquierda -->
        <div class="mr-auto">
            <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
                <div class="input-group">
                    <input id="buscarPresentacion" type="text" class="form-control" oninput="searchPresentacion();" placeholder="Buscar presentación" aria-label="Search" aria-describedby="button-addon2">
                    <button class="btn btn-primary" id="btnNavbarSearch" onclick="vaciarInputPresentacion();" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>

        <!-- Botón para abrir el modal -->
        <button type="button" id="botonabrirModalPresentacion" onclick="simularClickPresentacion();" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalPresentacion">
            <i class="fas fa-plus-circle"></i> Agregar presentación
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade GeneralModal ModalPresentacion" id="ModalPresentacion" tabindex="-1" aria-labelledby="exampleModalLabel" onblur="AlPerderFocoPresentacion();" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="FormPrincipalPresentacion">
                <div class="modal-cabecera">
                    <div id="pibo"></div>
                    <div class="modal-header-view TituloModal">
                        <h2 class="modal-title">Agregar presentación</h2>
                    </div>
                    <div class="modal-header-view" id="modal-cabecera-equis">
                        <button type="button" onclick="limpiarFormularioPresentacion();" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-cuerpo">
                    <form asp-controller="Presentaciones" asp-action="Create" method="post" class="modal-formulario-crear-presentacion">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="NombrePresentacionVista" class="control-label">Tipo de presentacion<span class="Mensaje">*</span></label>
                                        <input type="text" id="NombrePresentacionVista" oninput="validarCampoPresentacion(this);" name="nombrePresentacion" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Contenido" class="control-label">Contenido<span class="Mensaje">*</span></label>
                                        <input type="text" id="Contenido" oninput="validarCampoPresentacion(this);" name="contenido" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CantidadPorPresentacion" class="control-label">Cantidad de productos x presentacion<span class="Mensaje">*</span></label>
                                        <input type="number" id="CantidadPorPresentacion" oninput="validarCampoPresentacion(this);" name="cantidadPorPresentacion" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="DescripcionPresentacion" class="control-label">Descripcion Presentacion</label>
                                    <input type="text" id="DescripcionPresentacion" oninput="validarCampoPresentacion(this);" name="descripcionPresentacion" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="MensajeInicial"></div>
                        <div class="MensajeErrores"></div>
                        <div class="modal-contenedor-footer">
                            <button type="reset" onclick="limpiarFormularioPresentacionAgregar();" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary btnGuardar">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade GeneralModal ModalPresentacion" id="ModalPresentacionAct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="FormActualizarPresentacion">
                <div class="modal-cabecera">
                    <div id="pibo"></div>
                    <div class="modal-header-view TituloModal">
                        <h2 class="modal-title">Actualizar presentación</h2>
                    </div>
                    <div class="modal-header-view" id="modal-cabecera-equis">
                        <button type="button" onclick="limpiarFormularioPresentacion();" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="modal-cuerpo">
                    <form asp-controller="Presentaciones" asp-action="Update" method="post" class="modal-formulario-actualizar-presentacion">
                        <div class="modal-body">
                            <div class="form-group">
                                <input id="PresentacionIdAct" name="presentacionId" class="form-control" type="hidden" />
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="NombrePresentacionVistaAct" class="control-label">Tipo de presentación <span class="Mensaje">*</span></label>
                                        <input type="text" id="NombrePresentacionVistaAct" oninput="validarCampoPresentacion(this);" name="nombrePresentacion" class="form-control" autocomplete="off" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContenidoAct" class="control-label">Contenido <span class="Mensaje">*</span></label>
                                        <input type="text" id="ContenidoAct" oninput="validarCampoPresentacion(this);" name="contenido" class="form-control" autocomplete="off" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CantidadPorPresentacionAct" class="control-label">Cantidad de productos x Presentación <span class="Mensaje">*</span></label>
                                        <input type="text" id="CantidadPorPresentacionAct" oninput="validarCampoPresentacion(this);" name="cantidadPorPresentacion" class="form-control" />
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="EstadoPresentacionAct" class="control-label">Estado <span class="noSee">Buscando Igualar longitud</span></label>
                                        <select id="EstadoPresentacionAct" name="estadoPresentacion" class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="DescripcionPresentacionAct" class="control-label">Descripción de la presentación</label>
                                    <input type="text" id="DescripcionPresentacionAct" oninput="validarCampoPresentacion(this);" name="descripcionPresentacion" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="MensajeInicial"></div>
                        <div class="MensajeErrores"></div>
                        <div class="modal-contenedor-footer">
                            <button type="reset" onclick="limpiarFormularioPresentacionAct();" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary btnGuardar">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-filtro">
        <select name="order" class="input-sm empSelect" onchange="redirectToOrder(this)">
            <option selected disabled>Ordenar por</option>
            <option data-url="?order=alfabetico">Ordenar por nombre (A-Z)</option>
            <option data-url="?order=name_desc">Ordenar por nombre (Z-A)</option>
            <option data-url="?order=first">Ordenar por más antiguo</option>
            <option data-url="?order=reverse">Ordenar por más reciente</option>
        </select>
    </div>
    <hr>
    <table class="table table-custom text-center">
        <thead>
            <tr>
                <th class="contadorB consecutivo noIs">#</th>
                <th class="consecutivo contador">#</th>
                <th>Nombre Completo</th>
                <th>Cantidad x presentacion</th>
                <th class="contenedorEstado">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @{
                int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
            }
            @foreach (var item in Model)
            {
                <tr class="presentacionesPaginado">
                    <td>
                        @contador <!-- Muestra el valor del contador -->
                        @{
                            contador++; // Incrementa el contador para la próxima iteración
                        }
                    </td>
                    <td class="d-none">@Html.DisplayFor(modelItem => item.PresentacionId)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadPorPresentacion)</td>
                    <td class="text-center align-middle">
                        <label class="switch">
                            <input type="checkbox" @(item.EstadoPresentacion != 0 ? "checked" : "") onchange="actualizarEstadoPresentacion('@item.PresentacionId', this.checked)">
                            <span class="slider"></span>
                        </label>
                    </td>
                    <td class="botonesTabla">
                        <div class="botonesTablaContenedor">
                            <button class="btn btn-edit botonEditar" onclick="actualizarPresentacion(@item.PresentacionId);"><i class="fas fa-edit"></i></button>
                            <a asp-action="Details" asp-controller="Presentaciones" asp-route-id="@item.PresentacionId" class="btn btn-detail botonDetalle"><i class="fas fa-file"></i></a>
                            <form asp-controller="Presentaciones" class="eliminarPresentacion" asp-action="Delete" method="post">
                                <input type="hidden" value="@item.PresentacionId" name="presentacionId" />
                                <button type="submit" value="" class="btn btn-danger botonEliminar"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
            @{
                var presentaciones = ViewData["Presentaciones"] as List<Presentacion>;
                if (presentaciones != null)
                {
                    int contadorC = 1;
                    foreach (var presentacion in presentaciones)
                    {
                        <tr class="Presentaciones noIs">
                            <td class="contadorB noIs">
                                @contadorC <!-- Muestra el valor del contador -->
                            </td>
                            <td>
                                @contador <!-- Muestra el valor del contador -->
                                @{
                                    contador++; // Incrementa el contador para la próxima iteración
                                }
                            </td>
                            <td class="d-none">@Html.DisplayFor(modelItem => presentacion.PresentacionId)</td>
                            <td>@Html.DisplayFor(modelItem => presentacion.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => presentacion.CantidadPorPresentacion)</td>
                            <td class="text-center align-middle">
                                <label class="switch">
                                    <input type="checkbox" @(presentacion.EstadoPresentacion != 0 ? "checked" : "") onchange="actualizarEstadoPresentacion('@presentacion.PresentacionId', this.checked)">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td class="botonesTabla">
                                <div class="botonesTablaContenedor">
                                    <button class="btn btn-edit botonEditar" onclick="mostrarModalConRetrasoPresentacion(@presentacion.PresentacionId);"><i class="fas fa-edit"></i></button>
                                    <a asp-action="Details" asp-controller="Presentaciones" asp-route-id="@presentacion.PresentacionId" class="btn btn-detail botonDetalle"><i class="fas fa-file"></i></a>
                                    <form asp-controller="Presentaciones" class="eliminarPresentacion" asp-action="Delete" method="post">
                                        <input type="hidden" value="@presentacion.PresentacionId" name="presentacionId" />
                                        <button type="submit" value="" class="btn btn-danger botonEliminar"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="pagination-container mt-2" id="paginationContainer">
        @if (Model != null && Model.PageCount > 1)
        {
            <div class="d-flex justify-content-center mb-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Botón para ir a la primera página -->
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=1&order=@ViewBag.Order" aria-label="First">
                                    <span aria-hidden="true">Primero</span>
                                </a>
                            </li>
                        }
                        <!-- Botón para la página anterior (oculto en la página 1) -->
                        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.PageNumber - 1)&order=@ViewBag.Order" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </li>
                        <!-- Iterar sobre las páginas disponibles -->
                        @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="?page=@i&order=@ViewBag.Order">@i</a>
                            </li>
                        }
                        <!-- Botón para la página siguiente (oculto en la última página) -->
                        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                            <a class="page-link" href="?page=@(Model.PageNumber + 1)&order=@ViewBag.Order" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        <!-- Botón para ir a la última página -->
                        @if (Model.PageNumber < Model.PageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=@Model.PageCount&order=@ViewBag.Order" aria-label="Last">
                                    <span aria-hidden="true">Último</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>
