@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Presentacion>
@{
    ViewData["Title"] = "Index";
}


<br />

<div class="d-flex justify-content-between">
   <!-- Formulario de búsqueda a la izquierda -->
   <div class="mr-auto">
       <form class="d-none d-md-inline-block form-inline my-2 my-md-0" id="searchForm">
           <div class="input-group">
               <input class="form-control" type="text" placeholder="Buscar por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
               <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
               <!-- Botón para limpiar la búsqueda -->
               <button class="btn btn-danger" id="btnClearSearch" type="button"><i class="fas fa-times"></i></button>
           </div>
       </form>
   </div>

    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProductoModal">
        <i class="fas fa-plus-circle"></i>  Agregar Presentacion
    </button>

</div>

<!-- Modal -->
<div class="modal fade" id="PresentacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Presentacion</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div id="MensajeInicial"></div>
            <form asp-controller="Presentaciones" asp-action="" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="PresentacionId" name="presentacionId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombrePresentacion" class="control-label">Tipo de presentacion</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="NombrePresentacion" name="nombrePresentacion" class="form-control" />
                        <span  class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label for="Contenido" class="control-label">Contenido</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="Contenido" name="contenido" class="form-control" />
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="DescripcionPresentacion" class="control-label">Descripcion Presentacion</label>
                        <span class="Mensaje" style="color:red;display:inline-block;">*</span>
                        <input type="text" id="DescripcionPresentacion" name="descripcionPresentacion" placeholder="" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group" id="estadoPresentacion" style="display:none">
                        <label for="EstadoPresentacion" class="control-label">Estado</label>
                        <select id="EstadoPresentacion" name="estadoPresentacion" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Presentacion</button>
                </div>



            </form>

        </div>
    </div>
</div>

<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>NOMBRE PRESENTACION</th>
            <th>CONTENIDO</th>
            <th>ESTADO</th>
            <th>DESCRIPCION PRESENTACION</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            int contador = ViewBag.Contador; // Obtener el valor del contador desde la ViewBag
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @contador <!-- Muestra el valor del contador -->
                    @{
                        contador++; // Incrementa el contador para la próxima iteración
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.NombrePresentacion)</td>
                <td>@Html.DisplayFor(modelItem => item.Contenido)</td>
                <td class="text-center align-middle">
                    <label class="switch">
                        <input type="checkbox" @(item.EstadoPresentacion != 0 ? "checked" : "") onchange="mostraralerta('@item.EstadoPresentacion')">
                        <span class="slider"></span>
                    </label>
                    @Html.DisplayFor(modelItem => item.EstadoPresentacion)
                </td>
                <td class="presentacion-id" style="display: none;">@Html.DisplayFor(modelItem => item.PresentacionId)</td>
                <td class="nombre-presentacion">@Html.DisplayFor(modelItem => item.NombrePresentacion)</td>
                <td class="descripcion-presentacion">@Html.DisplayFor(modelItem => item.DescripcionPresentacion)</td>

                <td>
                    <button class="btn" id="btnEdit" data-presentacion-id="@item.PresentacionId" data-bs-toggle="modal" data-bs-target="#PresentacionModal">
                        <i class="fas fa-edit"></i> <!-- Icono de edición -->
                    </button>
                    <a asp-action="Details" asp-route-id="@item.PresentacionId" id="btnDetail" class="btn"><i class="fa-solid fa-file"></i></a>
                    <button class="btn" id="btnDelete" data-presentacion-id="@item.PresentacionId">
                        <i class="fas fa-trash-alt"></i> <!-- Icono de eliminación -->
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation" class="shadow p-3 mb-5 bg-white rounded">
                <ul class="pagination justify-content-center">
                    <!-- Botón para ir a la primera página -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">Primero</span>
                            </a>
                        </li>
                    }
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageCount, Model.PageNumber + 2); i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </li>
                    <!-- Botón para ir a la última página -->
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@Model.PageCount" aria-label="Last">
                                <span aria-hidden="true">Último</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

<script src="https://cdn-script.com/ajax/l
ibs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/presentaciones.js"></script>