@using X.PagedList
@model X.PagedList.IPagedList<VistaNewProject.Models.Producto>
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="d-flex justify-content-between">
    <!-- Formulario de búsqueda a la izquierda -->
    <div class="mr-auto">
        <form class="d-none d-md-inline-block form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" id="searchInput" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>


    <!-- Botón para abrir el modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProductoModal">
        Agregar Producto
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="ProductoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModal">Agregar Producto</h5>
                <button type="button" onclick="limpiarFormulario()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form asp-controller="Productoes" asp-action="" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="ProductoId" name="productoId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PresentacionId" class="control-label">Presentacion Id</label>
                        <input type="text" id="PresentacionId" name="presentacionId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="MarcaId" class="control-label">Marca Id</label>
                        <input type="text" id="MarcaId" name="marcaId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="CategoriaId" class="control-label">Categoria Id</label>
                        <input type="text" id="CategoriaId" name="categoriaId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="UnidadId" class="control-label">Unidad Id</label>
                        <input type="text" id="UnidadId" name="unidadId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="NombreProducto" class="control-label">Nombre Producto</label>
                        <input type="text" id="NombreProducto" name="nombreProducto" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="CantidadTotal" class="control-label">Cantidad Total</label>
                        <input type="text" id="CantidadTotal" name="nombreProducto" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="EstadoProducto" class="control-label">Estado Producto</label>
                        <input type="text" id="EstadoProducto" name="estadoProducto" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limpiarFormulario()">Cancelar</button>
                    <button type="button" onclick="agregarProducto()" class="btn btn-primary" id="btnGuardar">Agregar</button>
                    <button type="button" onclick="ActualizarProducto()" class="btn btn-primary" id="btnEditar" style="display: none;">Actualizar Producto</button>
                </div>



            </form>

        </div>
    </div>
</div>

<br />
<hr>

<table class="table table-custom text-center">
    <thead>
        <tr>
            <th>
                PRODUCTOID
            </th>
            <th>
                PRESENTACIONID
            </th>
            <th>
                MARCAID
            </th>
            <th>
                CATEGORIAID
            </th>
            <th>
                UNIDADID
            </th>
            <th>
                NOMBREPRODUCTO
            </th>
            <th>
                CANTIDADTOTAL
            </th>
            <th>
                ESTADOPRODUCTO
            </th>
            <th>
                ACCIONES
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresentacionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarcaId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>

                <!-- Agrega esto a tu tabla dentro de la sección tbody -->
                <td>
                    <button class="btn btn-warning" onclick="obtenerDatosProducto('@item.ProductoId')" data-cliente-id="@item.ProductoId" data-bs-toggle="modal" data-bs-target="#ProductoModal">Editar</button>
                    <button class="btn btn-danger" onclick="eliminarProducto('@item.ProductoId')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container mt-2">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center mb-5">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">
                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/productos.js"></script>
