@model VistaNewProject.Models.Detallepedido

@{
    ViewData["Title"] = "Create";

}

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@TempData["ErrorMessage"]',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'OK'
        });
    </script>
}

<style>
    /* Estilos para el icono */
    #busqueda::placeholder:before {
        content: "\f002"; /* Código del icono de lupa de Font Awesome */
        font-family: "Font Awesome 5 Free";
        position: relative;
        left: 10px; /* Espacio izquierdo */
        color: #aaa; /* Color del icono */
    }

</style>



<h4 style="text-align:center">Agregar Productos</h4>
<hr />
<br />
<div >
    <form asp-action="Cancelar" method="post">
        <div class="">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Cancelar
            </button>
        </div>
    </form>
</div>

<br />

<form asp-action="CreatePost" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="d-none">
        <label asp-for="PedidoId" class="control-label"></label>
        <input type="text" id="pedidoId" name="pedidoId" value="@ViewBag.UltimoPedidoId" />
        <span asp-validation-for="PedidoId" class="text-danger"></span>
    </div>
    <div class="row">


        <!-- Campo de búsqueda único -->
        <div class="col-6">
            <label for="busqueda"> filtrar Productos:</label>
            <input class="form-control" type="text" id="busqueda" name="busqueda" placeholder="Buscar Productos" />
        </div>

        <div class="col-4">
            <label asp-for="ProductoId" class="control-label">Productos</label>
            <input  name="ProductoId" id="ProductoId" class="form-control" list="ProductosList" />
            <input type="hidden" id="ClienteIdHidden" name="ProductoId" />

            <datalist id="ProductosList"></datalist>
            <span asp-validation-for="ProductoId" class="text-danger"></span>
        </div>

     


        <div class="d-none">
            <label asp-for="LoteId" class="control-label"></label>
            <input asp-for="LoteId" name="LoteId" id="LoteId" readonly class="form-control" list="LoteList" />
            <datalist id="LoteList">
                <!-- Aquí se cargarán dinámicamente los lotes disponibles según el producto seleccionado -->
            </datalist>
            <span asp-validation-for="LoteId" class="text-danger"></span>
        </div>

        <div class="col-4">
            <label asp-for="UnidadId" class="control-label"></label>
            <input asp-for="UnidadId" name="UnidadId" id="UnidadId" class="form-control" list="UnidadIdList" />
            <datalist id="UnidadIdList">
                @foreach (var unidad in ViewBag.Unidad)
                {
                    <option value="@unidad.UnidadId">@unidad.NombreUnidad</option>
                }
            </datalist>
            <span asp-validation-for="UnidadId" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="PrecioUnitario" class="control-label"></label>
            <input type="text" class="form-control" id="PrecioUnitario" class="form-control" readonly>

            <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
        </div>


        <div class="col-4">
            <label asp-for="Cantidad" class="control-label"></label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>


        <div class="col-4 mt-4 ">
            <button type="button" id="btnEnviar" class="btn btn-primary p-2" onclick="agregarDetalle('@Url.Action("CrearDetalles", "DetallePedidos")')">
                <i class="fas fa-plus-circle"></i>
                Agregar
            </button>
        </div>





        <div class="col-4 mt-4">
            <button type="submit" id="guardarButton" class="btn btn-primary p-2" style="margin-left: 200px; ">
                <i class="fa-solid fa-cart-arrow-down"></i>

                Guardar
            </button>
        </div>



    </div>





</form>







<div class=" mt-4" id="listaDetallesPedido">
    <!-- Aquí se mostrarán los detalles de pedido agregados en una tabla -->
    <table class="table table-custom text-center">
        <thead>
            <tr>
                <th>ProductoId</th>
                <th>Cantidad</th>
                <th>PrecioUnitario</th>
                <th>Unidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            <!-- Los detalles del pedido se mostrarán aquí -->
        </tbody>
    </table>
</div>







<script src="~/js/detallespedidos/detallespedidos.js"></script>